<template>
  <vx-card>
    <img :src="img" alt="content-img" class="responsive rounded-lg">
    <div class="mt-6">
      <h5 class="mb-2 capitalize">{{ title }}</h5>
      <p class="text-grey capitalize">{{ category }}</p>
      <div class="flex items-center gap-3">
        <vs-progress :percent="progress" color="#3DB5E0"></vs-progress>
        <p class="text-blue-dark font-bold">{{ progress }}%</p>
      </div>
    </div>
    <vs-divider></vs-divider>
    <div class="flex justify-between flex-wrap">

    </div>
  </vx-card>
</template>

<script>
export default {
  props: {
    img: {
      type: String,
      default: 'https://placeimg.com/640/480/any'
    },
    title: {
      type: String,
      default: ''
    },
    category: {
      type: String,
      default: ''
    },
    progress: {
      type: Number,
      default: 0
    },
    description: {
      type: String,
      default: ''
    }
  },
  data () {
    return {

    }
  }
}
</script>
