<template>
  <div id="simple-calendar-app">

    <div class="vx-row">
      <div class="vx-col w-full sm:my-5 md:my-5 my-5">
        <div class="carousel-example">
          <swiper :options="swiperOption" :dir="$vs.rtl ? 'rtl' : 'ltr'" :key="$vs.rtl">
            <swiper-slide v-for="(item, index) in bannerData" :key="index">
              <img class="responsive" :src="`${apiFile}/${item.file}`" alt="banner">
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
          </swiper>
      </div>
      </div>
    </div>

    <div class="vx-card no-scroll-content">
      <calendar-view
        ref="calendar"
        :displayPeriodUom="calendarView"
        :show-date="showDate"
        :events="simpleCalendarEvents"
        enableDragDrop
        :eventTop="windowWidth <= 400 ? '2rem' : '3rem'"
        eventBorderHeight="0px"
        eventContentHeight="1.65rem"
        class="theme-default"
        @click-event="openAddNewEvent"
        @drop-on-date="eventDragged">

        <div slot="header" class="mb-4">
          <div class="vx-row flex justify-end">
            <div class="vx-col sm:w-1/3 w-full sm:my-0 my-3 flex sm:justify-end justify-center order-last">
              <div class="flex items-center">
                <feather-icon
                  :icon="$vs.rtl ? 'ChevronRightIcon' : 'ChevronLeftIcon'"
                  @click="updateMonth(-1)"
                  svgClasses="w-5 h-5 m-1"
                  class="cursor-pointer bg-primary text-white rounded-full" />

                <span class="mx-3 text-xl font-medium whitespace-no-wrap">{{ showDate | month }}</span>

                <feather-icon
                  :icon="$vs.rtl ? 'ChevronLeftIcon' : 'ChevronRightIcon'"
                  @click="updateMonth(1)"
                  svgClasses="w-5 h-5 m-1"
                  class="cursor-pointer bg-primary text-white rounded-full" />
              </div>
            </div>

            <div class="vx-col sm:w-1/3 w-full flex justify-center">
              <template v-for="(view, index) in calendarViewTypes">
                <vs-button
                  v-if="calendarView === view.val"
                  :key="String(view.val) + 'filled'"
                  type="filled"
                  class="p-3 md:px-8 md:py-3"
                  :class="{'border-l-0 rounded-l-none': index, 'rounded-r-none': calendarViewTypes.length !== index+1}"
                  @click="calendarView = view.val"
                >{{ view.label }}</vs-button>
                <vs-button
                  v-else
                  :key="String(view.val) + 'border'"
                  type="border"
                  class="p-3 md:px-8 md:py-3"
                  :class="{'border-l-0 rounded-l-none': index, 'rounded-r-none': calendarViewTypes.length !== index+1}"
                  @click="calendarView = view.val"
                >{{ view.label }}</vs-button>
              </template>

            </div>
          </div>
        </div>

      </calendar-view>
    </div>

    <vs-popup title="Detail Jadwal" :active.sync="activeDetailJadwal" class="h-full">
      <div class="flex justify-between">
        <div>
          <h4>{{ detailJadwal.nama_akademik }}</h4>
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full">
          <vs-collapse>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="HelpCircleIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Deskripsi</span>
                  </div>
                </div>
              </div>
              {{ detailJadwal.deskripsi }}
            </vs-collapse-item>
          </vs-collapse>
          <div class="flex justify-between mt-3">
            <div class="px-3">
              <p class="font-semibold">
                Waktu Mulai:
              </p>
              <h6>{{ detailJadwal.jam.mulai }}</h6>
            </div>
            <div class="px-3">
              <p class="font-semibold">
                Waktu Selesai:
              </p>
              <h6>{{ detailJadwal.jam.selesai }}</h6>
            </div>
          </div>
        </div>
      </div>
    </vs-popup>

  </div>
</template>

<script>
import { CalendarView, CalendarViewHeader } from 'vue-simple-calendar'
import moduleCalendar from '@/store/calendar/moduleCalendar.js'
import 'swiper/dist/css/swiper.min.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
require('vue-simple-calendar/static/css/default.css')

import Datepicker from 'vuejs-datepicker'
import { en, he } from 'vuejs-datepicker/src/locale'
import jadwal from '@/http/requests/jadwal'

export default {
  components: {
    CalendarView,
    CalendarViewHeader,
    Datepicker,
    swiper,
    swiperSlide
  },
  data () {
    return {
      showDate: new Date(),
      disabledFrom: false,
      id: 0,
      title: '',
      startDate: '',
      endDate: '',
      labelLocal: 'none',
      activeDetailJadwal: false,

      langHe: he,
      langEn: en,

      url: '',
      calendarView: 'month',

      calendarViewTypes: [
        {
          label: 'Month',
          val: 'month'
        },
        {
          label: 'Week',
          val: 'week'
        },
        {
          label: 'Year',
          val: 'year'
        }
      ],
      jadwal: [],
      jadwalCalendar: [],
      detailJadwal: {
        id: '',
        nama_akademik: '',
        deskripsi: '',
        jam: {
          mulai: '',
          selesai: ''
        }
      },
      bannerData: [],
      swiperOption: {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },
  computed: {
    simpleCalendarEvents () {
      return this.jadwalCalendar
    },
    validForm () {
      return this.title !== '' && this.startDate !== '' && this.endDate !== '' && Date.parse(this.endDate) - Date.parse(this.startDate) >= 0 && !this.errors.has('event-url')
    },
    disabledDatesTo () {
      return { to: new Date(this.startDate) }
    },
    disabledDatesFrom () {
      return { from: new Date(this.endDate) }
    },
    calendarLabels () {
      return this.$store.state.calendar.eventLabels
    },
    labelColor () {
      return (label) => {
        if      (label === 'business') return 'success'
        else if (label === 'work')     return 'warning'
        else if (label === 'personal') return 'danger'
        else if (label === 'none')     return 'primary'
      }
    },
    windowWidth () {
      return this.$store.state.windowWidth
    },
    apiFile () {
      return this.$store.state.server.server.domain_storage
    }
  },
  methods: {
    addEvent () {
      const obj = { title: this.title, startDate: this.startDate, endDate: this.endDate, label: this.labelLocal, url: this.url }
      obj.classes = `event-${  this.labelColor(this.labelLocal)}`
      this.$store.dispatch('calendar/addEvent', obj)
    },
    updateMonth (val) {
      this.showDate = this.$refs.calendar.getIncrementedPeriod(val)
    },
    clearFields () {
      this.title = this.endDate = this.url = ''
      this.id = 0
      this.labelLocal = 'none'
    },
    promptAddNewEvent (date) {
      this.disabledFrom = false
      this.addNewEventDialog(date)
    },
    addNewEventDialog (date) {
      this.clearFields()
      this.startDate = date
      this.endDate = date
      this.activeDetailJadwal = true
    },
    openAddNewEvent (date) {
      const getJadwal = this.jadwal[date.id]
      const detailJadwal = {
        id: getJadwal.id,
        nama_akademik: getJadwal.nama,
        deskripsi: getJadwal.deskripsi,
        jam: {
          mulai: getJadwal.mulai,
          selesai: getJadwal.selesai
        }
      }
      this.detailJadwal = detailJadwal
      this.disabledFrom = true
      this.addNewEventDialog(date)
    },
    editEvent () {
      const obj = { id: this.id, title: this.title, startDate: this.startDate, endDate: this.endDate, label: this.labelLocal, url: this.url }
      obj.classes = `event-${  this.labelColor(this.labelLocal)}`
      this.$store.dispatch('calendar/editEvent', obj)
    },
    removeEvent () {
      this.$store.dispatch('calendar/removeEvent', this.id)
    },
    eventDragged (event, date) {
      this.$store.dispatch('calendar/eventDragged', {event, date})
    }
  },
  created () {
    this.$vs.loading()
    this.$store.registerModule('calendar', moduleCalendar)
    this.$store.dispatch('calendar/fetchEvents')
    this.$store.dispatch('calendar/fetchEventLabels')

    jadwal.getFileJadwal().then(res => {
      this.bannerData = res.data
    }).catch(err => console.log(err))

    jadwal.getJadwalAkademik().then(response => {
      const data = []
      response.data.forEach((item, index) => {
        const setDate = (date) => date.split(' ')[0]
        data.push({
          id: index,
          title: item.label ? item.label.nama : '-',
          startDate: new Date(setDate(item.mulai)),
          endDate: new Date(setDate(item.selesai)),
          url: '',
          classes: 'event-success',
          label: 'business'
        })
      })
      this.jadwalCalendar = data
      this.jadwal = response.data
      this.$vs.loading.close()
    }).catch(() => {
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Data tidak ditemukan',
        text: 'Data Jadwal tidak ditemukan',
        color: 'danger',
        position: 'top-right'
      })
    })
  },
  beforeDestroy () {
    this.$store.unregisterModule('calendar')
  }
}
</script>

<style lang="scss" scope>
@import "@/assets/scss/vuexy/apps/simple-calendar.scss";
.swiper-slide {
  max-height: 350px;
  img {
    object-fit: cover;
    max-width: 350px;
  }
}
</style>
