<template>
  <div id="materi">
    <div class="vx-row mb-5 items-end">
      <div class="vx-col w-full">
        <vs-input icon-pack="feather" icon="icon-search" placeholder="Cari materi..." v-model="search" class="w-full is-label-placeholder" @keyup="searchMateri()"/>
      </div>
    </div>
    <div class="flex justify-end w-full" v-if="searchStatus">
        <p class="p-0 bg-success rounded text-white px-2 py-1"><b>{{ searchFound }}</b> Materi Ditemukan</p>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full flex justify-center items-center mt-10" v-if="!materis.length">
        <h3>Tidak ada data materi pada pelajaran ini...</h3>
      </div>
      <div class="vx-col w-full sm:w-full md:w-full lg:w-1/3 xl:w-1/3 mb-base cursor-pointer my-3"
           v-for="(materi, index) in materis"
           :key="index"
           @click="getDetailMateri(index)">
        <vx-card>
          <div class="flex justify-between">
            <div class="flex items-start flex-grow">
              <feather-icon icon="BookOpenIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
              <div class="mx-4">
                <h4 class="font-medium block notification-title text-primary">{{ materi.nama_materi }}</h4>
                <small>{{ materi.mapel.nama_mapel }}</small>
              </div>
            </div>
          </div>
          <vs-divider></vs-divider>
          <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
              <feather-icon icon="CalendarIcon" class="w-4 h-4"></feather-icon>
              <vx-tooltip text="Tanggal Materi dibuat">
                <small>{{ materi.created_at.substr(0, 10) }}</small>
              </vx-tooltip>
            </div>
            <div>
              <vs-chip :color="materi.file_materi ? 'success' : 'danger'">{{ materi.file_materi.length || 0 }} File</vs-chip>
              <vs-chip :color="materi.link_materi ? 'success' : 'danger'">{{ materi.link_materi.length || 0}} Link</vs-chip>
            </div>
          </div>
        </vx-card>
      </div>
    </div>

    <vs-popup title="Detail Materi" :active.sync="popupMateri" class="h-full">
      <div class="flex items-start flex-grow">
        <div class="mx-4">
          <h3 class="text-primary">{{ detailMateri.nama_materi }}</h3>
          <h6>{{ detailMateri.mapel }}</h6>
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full">
          <vs-collapse>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="HelpCircleIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Deskripsi</span>
                  </div>
                </div>
              </div>
              {{ detailMateri.deskripsi }}
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="UserIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Guru</span>
                  </div>
                </div>
              </div>
              <div class="vx-row">
                <div class="vx-col w-1/2 mb-2">
                  <h6 class="font-semibold">Nama :</h6>
                  <p>{{ detailMateri.guru.nama }}</p>
                </div>
                <div class="vx-col w-1/2 mb-2">
                  <h6 class="font-semibold">Email :</h6>
                  <p>{{ detailMateri.guru.email }}</p>
                </div>
                <div class="vx-col w-1/2 my-1">
                  <h6 class="font-semibold">No. Telp :</h6>
                  <p>{{ detailMateri.guru.telp }}</p>
                </div>
                <div class="vx-col w-1/2 my-1">
                  <h6 class="font-semibold">Alamat :</h6>
                  <p>{{ detailMateri.guru.alamat }}</p>
                </div>
              </div>
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex justify-between">
                  <div class="flex items-center">
                    <feather-icon icon="FileIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                    <div class="mx-4">
                      <span class="font-medium text-lg">File</span>
                    </div>
                  </div>
                  <div class="flex items-center">
                    <vs-chip color="warning" class="mx-4">{{ detailMateri.file.length }}</vs-chip>
                  </div>
                </div>
              </div>
              <div class="flex gap-1 w-full">
                <div v-for="(file, index) in detailMateri.file" :key="index">
                  <vs-button icon-pack="feather" icon="icon-download" @click="downloadMateri(file.file)">File {{ index + 1 }}</vs-button>
                </div>
                <div v-if="detailMateri.file.length === 0">
                  <p>Tidak ada <b class="text-danger">File Materi</b></p>
                </div>
              </div>
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex justify-between">
                  <div class="flex items-center">
                    <feather-icon icon="LinkIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                    <div class="mx-4">
                      <span class="font-medium text-lg">Link</span>
                    </div>
                  </div>
                  <div class="flex items-center">
                    <vs-chip color="warning" class="mx-4">{{ detailMateri.link.length }}</vs-chip>
                  </div>
                </div>
              </div>
              <div>
                <div v-for="(link, index) in detailMateri.link" :key="index">
                  <vs-button icon-pack="feather" icon="icon-download" @click="openLink(link)">Link {{ index + 1 }}</vs-button>
                </div>
                <div v-if="detailMateri.link.length === 0">
                  <p>Tidak ada <b class="text-danger">Link Materi</b></p>
                </div>
              </div>
            </vs-collapse-item>
          </vs-collapse>
        </div>
      </div>
    </vs-popup>

  </div>
</template>
<script>
import CardMateri from '@/views/_smpak/components/card/CardMateri'
import materi from '@/http/requests/materi'

export default {
  created () {
    console.log('Params dari sebelah', this.$route.params.id)
    this.$vs.loading()

    materi.getMateri(this.$route.params.id.toString()).then(response => {
      const newMateri = response.data.map(item => {
        const temp = Object.assign({}, item)
        temp.nama_materi = item.nama_materi.toLowerCase().replace(/\b./g, function (a) { return a.toUpperCase() })
        return temp
      })
      this.materis = newMateri
      this.materisFirst = newMateri
      this.$vs.loading.close()
    }).catch(() => {
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Data tidak ditemukan',
        text: 'Data Materi tidak ditemukan',
        color: 'danger',
        position: 'top-right'
      })
    })
  },
  components: {
    CardMateri
  },
  computed: {
    apiFile () {
      return this.$store.state.server.server.domain_storage
    }
  },
  data () {
    return {
      popupMateri: false,
      search: '',
      searchStatus: false,
      searchFound: '',
      category: '',
      categoryOptions: [],
      materis: [],
      materisFirst: [],
      detailMateri: {
        nama_materi: '',
        mapel: '',
        deskripsi: '',
        guru: {
          nama: '',
          email: '',
          telp: '',
          alamat: ''
        },
        file: [],
        link: []
      }
    }
  },
  methods: {
    searchMateri () {
      const search = this.search

      if (search) {
        const materi = this.materis.filter(function (item) {
          return item.nama_materi.toLowerCase().indexOf(search.toLowerCase()) > -1
        })
        this.materis = materi
        this.searchFound = materi.length
        this.searchStatus = true
      } else {
        this.materis = this.materisFirst
        this.searchStatus = false
      }

    },
    getDetailMateri (index) {
      const getMateri = this.materis[index]
      const detailMateri = {
        nama_materi: getMateri.nama_materi,
        mapel: getMateri.mapel.nama_mapel,
        deskripsi: getMateri.deskripsi,
        guru: {
          nama: getMateri.guru.nama_guru,
          email: getMateri.guru.user_guru.email,
          telp: getMateri.guru.user_guru.no_telp,
          alamat: getMateri.guru.alamat_tinggal
        },
        file: getMateri.file_materi,
        link: getMateri.link_materi
      }
      this.detailMateri = detailMateri
      this.popupMateri = true
    },
    downloadMateri (file) {
      window.open(`${this.apiFile}/${file}`)
    },
    openLink (link) {
      window.open(link.link)
    }
  }
}
</script>
