<template>
  <div class="submateri">
    <div class="vx-row mb-5 items-end">
      <div class="vx-col w-3/4">
        <vs-input icon-pack="feather" icon="icon-search" placeholder="Cari materi..." v-model="search" class="w-full is-label-placeholder" />
      </div>
      <div class="vx-col w-1/4">
        <vs-select v-model="category" class="w-full" label="">
          <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in categoryOptions" class="w-full" />
        </vs-select>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2 mb-base" v-for="(item, index) in submateri" :key="index">
        <vx-card>
          <div class="flex justify-between gap-5">
            <div class="flex items-start flex-grow">
              <feather-icon icon="BookOpenIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
              <div class="mx-4">
                <span class="font-medium block notification-title text-primary text-lg">{{ item.title }}</span>
                <small>{{ item.desc }}</small>
                <div class="w-full flex items-center gap-3 mt-3">
                  <vs-progress :percent="item.progress" color="#3DB5E0"></vs-progress>
                  <p class="text-blue-dark font-bold">{{ item.progress }}%</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <vx-tooltip text="Simpan">
                <vs-button radius color="primary" size="small" type="border" icon-pack="feather" icon="icon-star"></vs-button>
              </vx-tooltip>
              <vx-tooltip text="Unduh">
                <vs-button radius color="primary" size="small" type="border" icon-pack="feather" icon="icon-download"></vs-button>
              </vx-tooltip>
              <vx-tooltip text="Mulai Belajar">
                <vs-button radius color="primary" size="small" type="border" icon-pack="feather" icon="icon-eye"
                           @click="$router.push({name: 'mainmateri', params: {id: '1'}}).catch(() => {})"></vs-button>
              </vx-tooltip>
            </div>
          </div>
        </vx-card>
      </div>
    </div>
    <div class="vx-row my-10">
      <div class="vx-col w-full">
        <vs-pagination :total="40" v-model="currentx"></vs-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import CardMateri from '@/views/_smpak/components/card/CardMateri'

export default {
  components: {
    CardMateri
  },
  data () {
    return {
      currentx: 14,
      search: '',
      category: 'matematika',
      categoryOptions: [
        {text: 'Matematika', value:'matematika'},
        {text: 'Ilmu Pengetahuan Alam', value:'ipa'},
        {text: 'Ilmu Pengetahuan Sosial', value:'ips'},
        {text: 'Bahasa Indonesia', value:'b.indonesia'},
        {text: 'Bahasa Inggris', value:'b.inggris'}
      ],
      submateri: [
        {title: 'Pendahuluan', desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur impedit natus.', progress: 80, url: 'pendahuluan'},
        {title: 'Bab 1', desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing adipisicing elit.', progress: 20, url: 'bab1'},
        {title: 'Bab 2', desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim adipisicing elit.', progress: 25, url: 'bab2'}
      ]
    }
  }
}
</script>
