<template>
  <div id="simple-calendar-app">
    <div class="vx-card no-scroll-content">
      <calendar-view
        ref="calendar"
        :displayPeriodUom="calendarView"
        :show-date="showDate"
        :events="simpleCalendarEvents"
        enableDragDrop
        :eventTop="windowWidth <= 400 ? '2rem' : '3rem'"
        eventBorderHeight="0px"
        eventContentHeight="1.65rem"
        class="theme-default"
        @click-event="openAddNewEvent"
        @drop-on-date="eventDragged">

        // Filter Calender
        <div slot="header" class="mb-4">
          <div class="vx-row flex justify-end">
            <div class="vx-col sm:w-1/3 w-full sm:my-0 my-3 flex sm:justify-end justify-center order-last">
              <div class="flex items-center">
                <feather-icon
                  :icon="$vs.rtl ? 'ChevronRightIcon' : 'ChevronLeftIcon'"
                  @click="updateMonth(-1)"
                  svgClasses="w-5 h-5 m-1"
                  class="cursor-pointer bg-primary text-white rounded-full" />

                <span class="mx-3 text-xl font-medium whitespace-no-wrap">{{ showDate | month }}</span>

                <feather-icon
                  :icon="$vs.rtl ? 'ChevronLeftIcon' : 'ChevronRightIcon'"
                  @click="updateMonth(1)"
                  svgClasses="w-5 h-5 m-1"
                  class="cursor-pointer bg-primary text-white rounded-full" />
              </div>
            </div>

            <div class="vx-col sm:w-1/3 w-full flex justify-center">
              <template v-for="(view, index) in calendarViewTypes">
                <vs-button
                  v-if="calendarView === view.val"
                  :key="String(view.val) + 'filled'"
                  type="filled"
                  class="p-3 md:px-8 md:py-3"
                  :class="{'border-l-0 rounded-l-none': index, 'rounded-r-none': calendarViewTypes.length !== index+1}"
                  @click="calendarView = view.val"
                >{{ view.label }}</vs-button>
                <vs-button
                  v-else
                  :key="String(view.val) + 'border'"
                  type="border"
                  class="p-3 md:px-8 md:py-3"
                  :class="{'border-l-0 rounded-l-none': index, 'rounded-r-none': calendarViewTypes.length !== index+1}"
                  @click="calendarView = view.val"
                >{{ view.label }}</vs-button>
              </template>

            </div>
          </div>
        </div>

      </calendar-view>
    </div>
    <vs-popup class="holamundo" title="Absen" :active.sync="activeAbsen">
      <camera
      :nama="detailJadwal.nama_tugas"
      :mapel="detailJadwal.mapel"
      :vicon="detailJadwal.vicon"
      :chat="detailJadwal.chat"
      :id="detailJadwal.id"
      @closeAbsen="closeAbsen"/>
    </vs-popup>

    <vs-popup title="Detail Jadwal" :active.sync="activeDetailJadwal" class="h-full">
      <div class="flex justify-between">
        <div>
          <h4>{{ detailJadwal.nama_tugas }}</h4>
          <p class="text-grey">{{ detailJadwal.mapel }}</p>
        </div>
        <div>
          <vs-chip color="success" v-if="detailJadwal.vicon == 1">Video Confrence</vs-chip>
          <vs-chip color="success" v-if="detailJadwal.chat == 1">Chat</vs-chip>
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full">
          <vs-collapse>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="HelpCircleIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Deskripsi</span>
                  </div>
                </div>
              </div>
              {{ detailJadwal.deskripsi }}
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="UserIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Guru</span>
                  </div>
                </div>
              </div>
              <div class="vx-row">
                <div class="vx-col w-1/2 mb-2">
                  <h6 class="font-semibold">Nama :</h6>
                  <p>{{ detailJadwal.guru.nama }}</p>
                </div>
                <div class="vx-col w-1/2 mb-2">
                  <h6 class="font-semibold">Email :</h6>
                  <p>{{ detailJadwal.guru.email }}</p>
                </div>
                <div class="vx-col w-1/2 my-1">
                  <h6 class="font-semibold">No. Telp :</h6>
                  <p>{{ detailJadwal.guru.telp }}</p>
                </div>
                <div class="vx-col w-1/2 my-1">
                  <h6 class="font-semibold">Alamat :</h6>
                  <p>{{ detailJadwal.guru.alamat }}</p>
                </div>
              </div>
            </vs-collapse-item>

            <!-- Seragam -->
            <!-- <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="UsersIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Seragam</span>
                  </div>
                </div>
              </div>
             <div class="vx-row">
                <div class="vx-col w-1/2 mb-2">
                  <h6 class="font-semibold">Baju :</h6>
                  <p>{{ detailJadwal.seragam.baju }}</p>
                </div>
                <div class="vx-col w-1/2 mb-2">
                  <h6 class="font-semibold">Celana :</h6>
                  <p>{{ detailJadwal.seragam.celana }}</p>
                </div>
                <div class="vx-col w-1/2 my-1">
                  <h6 class="font-semibold">Atribut :</h6>
                  <p>{{ detailJadwal.seragam.atribut }}</p>
                </div>
              </div>
            </vs-collapse-item> -->

            <vs-collapse-item>
              <div slot="header">
                <div class="flex justify-between">
                  <div class="flex items-center">
                    <feather-icon icon="LinkIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                    <div class="mx-4">
                      <span class="font-medium text-lg">Link</span>
                    </div>
                  </div>
                  <div class="flex items-center">
                    <vs-chip color="warning" class="mx-4">{{Object.keys(detailJadwal.link).length ? 1 : 0}}</vs-chip>
                  </div>
                </div>
              </div>
              <div>
                <div v-if="Object.keys(detailJadwal.link).length">
                  <vs-button icon-pack="feather" icon="icon-download" @click="openLink(detailJadwal.link)">Link 1</vs-button>
                </div>
                <div v-else>
                  <p>Tidak ada <b class="text-danger">Link Materi</b></p>
                </div>
              </div>
            </vs-collapse-item>
          </vs-collapse>
          <div class="flex justify-between mt-3">
            <div class="px-3">
              <p class="font-semibold">
                Waktu Mulai:
              </p>
              <h6>{{ detailJadwal.jam.mulai }}</h6>
            </div>
            <div class="px-3">
              <p class="font-semibold">
                Waktu Selesai:
              </p>
              <h6>{{ detailJadwal.jam.selesai }}</h6>
            </div>
            <vs-button icon-pack="feather" icon="icon-log-in" color="success" @click="sendAbsen(detailJadwal.id)">Masuk / Absen</vs-button>
          </div>
        </div>
      </div>
    </vs-popup>


  </div>
</template>

<script>
import { CalendarView, CalendarViewHeader } from 'vue-simple-calendar'
import moduleCalendar from '@/store/calendar/moduleCalendar.js'
require('vue-simple-calendar/static/css/default.css')

import Datepicker from 'vuejs-datepicker'
import { en, he } from 'vuejs-datepicker/src/locale'
import jadwal from '@/http/requests/jadwal'
import pengajar from '@/http/requests/others/pengajar'
import Camera from '@/views/_smpak/components/camera/Camera'

export default {
  components: {
    CalendarView,
    CalendarViewHeader,
    Datepicker,
    Camera
  },
  data () {
    return {
      showDate: new Date(),
      disabledFrom: false,
      id: '',
      title: '',
      startDate: '',
      endDate: '',
      labelLocal: 'none',

      langHe: he,
      langEn: en,

      url: '',
      calendarView: 'month',

      activeAbsen: false,
      activeDetailJadwal: false,

      calendarViewTypes: [
        {
          label: 'Month',
          val: 'month'
        },
        {
          label: 'Week',
          val: 'week'
        },
        {
          label: 'Year',
          val: 'year'
        }
      ],
      jadwal: [],
      jadwalCalendar: [],
      detailJadwal: {
        id: 0,
        nama_tugas: '',
        mapel: '',
        deskripsi: '',
        guru: {
          nama: '',
          email: '',
          telp: '',
          alamat: ''
        },
        jam: {
          mulai: '',
          selesai: ''
        },
        chat: 0,
        vicon: 0,
        seragam: [],
        link: {},
        links: []
      }
    }
  },
  computed: {
    simpleCalendarEvents () {
      return this.jadwalCalendar
    },
    validForm () {
      return this.title !== '' && this.startDate !== '' && this.endDate !== '' && Date.parse(this.endDate) - Date.parse(this.startDate) >= 0 && !this.errors.has('event-url')
    },
    disabledDatesTo () {
      return { to: new Date(this.startDate) }
    },
    disabledDatesFrom () {
      return { from: new Date(this.endDate) }
    },
    calendarLabels () {
      return this.$store.state.calendar.eventLabels
    },
    labelColor () {
      return (label) => {
        if      (label === 'business') return 'success'
        else if (label === 'work')     return 'warning'
        else if (label === 'personal') return 'danger'
        else if (label === 'none')     return 'primary'
      }
    },
    windowWidth () {
      return this.$store.state.windowWidth
    }
  },
  methods: {
    addEvent () {
      const obj = { title: this.title, startDate: this.startDate, endDate: this.endDate, label: this.labelLocal, url: this.url }
      obj.classes = `event-${  this.labelColor(this.labelLocal)}`
      this.$store.dispatch('calendar/addEvent', obj)
    },
    updateMonth (val) {
      this.showDate = this.$refs.calendar.getIncrementedPeriod(val)
    },
    clearFields () {
      this.title = this.endDate = this.url = ''
      this.id = 0
      this.labelLocal = 'none'
    },
    promptAddNewEvent (date) {
      this.disabledFrom = false
      this.addNewEventDialog(date)
    },
    addNewEventDialog (date) {
      this.clearFields()
      this.startDate = date
      this.endDate = date
      this.activeDetailJadwal = true
    },
    openAddNewEvent (date) {
      const getJadwal = this.jadwal[date.id]
      Object.keys(getJadwal).forEach(function (e) {
        if (getJadwal[e] === null) getJadwal[e] = []
      })
      console.log('DETAIL NIGH BOSSS', getJadwal)
      const guru = () => {
        if (getJadwal.guru) {
          return {
            nama: getJadwal.guru.nama_guru,
            email: getJadwal.guru.user_guru.email,
            telp: getJadwal.guru.user_guru.no_telp,
            alamat: getJadwal.guru.alamat_tinggal
          }
        } else {
          return []
        }
      }

      const dataGuru = guru()

      const detailJadwal = {
        id: getJadwal.id,
        nama_tugas: getJadwal.nama,
        mapel: getJadwal.mapel.nama_mapel,
        deskripsi: getJadwal.deskripsi,
        guru: dataGuru,
        jam: {
          mulai: getJadwal.mulai,
          selesai: getJadwal.selesai
        },
        chat: getJadwal.status_chat,
        vicon: getJadwal.status_vicon,
        seragam: getJadwal.seragam,
        link: getJadwal.link_jadwal
      }

      this.detailJadwal = detailJadwal
      this.disabledFrom = true
      this.addNewEventDialog(date)
    },
    editEvent () {
      const obj = { id: this.id, title: this.title, startDate: this.startDate, endDate: this.endDate, label: this.labelLocal, url: this.url }
      obj.classes = `event-${  this.labelColor(this.labelLocal)}`
      this.$store.dispatch('calendar/editEvent', obj)
    },
    removeEvent () {
      this.$store.dispatch('calendar/removeEvent', this.id)
    },
    eventDragged (event, date) {
      this.$store.dispatch('calendar/eventDragged', {event, date})
    },
    sendAbsen (id) {
      this.activeAbsen = true
      this.activeDetailJadwal = false
    },
    closeAbsen (data) {
      this.activeAbsen = data
      this.activeDetailJadwal = false
    },
    openLink (link) {
      window.open(link.link)
    }
  },
  created () {
    this.$store.registerModule('calendar', moduleCalendar)
    this.$store.dispatch('calendar/fetchEvents')
    this.$store.dispatch('calendar/fetchEventLabels')
    
    this.$vs.loading()
    pengajar.getMapelId().then(res => {
      // Send API Materi
      jadwal.getJadwal(res).then(response => {
        const data = []
        response.data.forEach((item, index) => {
          const setDate = (date) => date.split(' ')[0]
          data.push({
            id: index,
            title: item.nama,
            startDate: new Date(setDate(item.mulai)),
            endDate: new Date(setDate(item.selesai)),
            url: '',
            classes: 'event-success',
            label: 'business'
          })
        })
        this.jadwalCalendar = data
        this.jadwal = response.data
        this.$vs.loading.close()
      }).catch(() => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Data tidak ditemukan',
          text: 'Data Jadwal tidak ditemukan',
          color: 'danger',
          position: 'top-right'
        })
      })
    }).catch(() => {
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Data tidak ditemukan',
        text: 'Gagal mendapatkan data Jadwal',
        color: 'danger',
        position: 'top-right'
      })
    })
  },
  beforeDestroy () {
    this.$store.unregisterModule('calendar')
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/simple-calendar.scss";
</style>
