<template>
  <div id="eguide">
    <div class="vx-row">
      <div class="vx-col w-full sm:my-5 md:my-5 my-5">
          <div class="carousel-example">
            <swiper :options="swiperOption" :dir="$vs.rtl ? 'rtl' : 'ltr'" :key="$vs.rtl" class="rounded">
              <swiper-slide>
                <img class="responsive" src="@/assets/images/pages/carousel/banner-16.jpg" alt="banner">
              </swiper-slide>
              <swiper-slide>
                <img class="responsive" src="@/assets/images/pages/carousel/banner-13.jpg" alt="banner">
              </swiper-slide>
              <swiper-slide>
                <img class="responsive" src="@/assets/images/pages/carousel/banner-4.jpg" alt="banner">
              </swiper-slide>
              <swiper-slide>
                <img class="responsive" src="@/assets/images/pages/carousel/banner-2.jpg" alt="banner">
              </swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
          </div>
      </div>
    </div>
    <div class="vx-row mb-5 items-end">
      <div class="vx-col w-full">
        <vs-input icon-pack="feather" icon="icon-search" placeholder="Cari E-Guide..." v-model="search" class="w-full is-label-placeholder" />
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full sm:w-full md:w-full lg:w-1/3 xl:w-1/3 mb-base cursor-pointer my-3"
           v-for="(index) in 4"
           :key="index"
           @click="getDetailGuide()">
        <vx-card>
          <div class="flex justify-between">
            <div class="flex items-start flex-grow">
              <feather-icon icon="BookOpenIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
              <div class="mx-4">
                <h4 class="font-medium block notification-title text-primary">Nama E-Guide</h4>
                <small>Tag E-Guide</small>
              </div>
            </div>
          </div>
          <vs-divider></vs-divider>
          <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
              <feather-icon icon="CalendarIcon" class="w-4 h-4"></feather-icon>
              <vx-tooltip text="Tanggal E-Guide dibuat">
                <small>Created At</small>
              </vx-tooltip>
            </div>
            <div>
              <vs-chip color="danger">0 File</vs-chip>
              <vs-chip color="danger">0 Link</vs-chip>
            </div>
          </div>
        </vx-card>
      </div>
    </div>

    <vs-popup title="Detail E-Guide" :active.sync="popupGuide" class="h-full">
      <div class="flex items-start flex-grow">
        <div class="mx-4">
          <h3 class="text-primary">Nama E-Guide</h3>
          <h6>Tag</h6>
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full">
          <vs-collapse>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="HelpCircleIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Deskripsi</span>
                  </div>
                </div>
              </div>
              Deskripsi
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex justify-between">
                  <div class="flex items-center">
                    <feather-icon icon="FileIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                    <div class="mx-4">
                      <span class="font-medium text-lg">File</span>
                    </div>
                  </div>
                  <div class="flex items-center">
                    <vs-chip color="warning" class="mx-4">0</vs-chip>
                  </div>
                </div>
              </div>
              <div class="flex gap-1 w-full">
                <vs-button icon-pack="feather" icon="icon-download">File 1</vs-button>
              </div>
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex justify-between">
                  <div class="flex items-center">
                    <feather-icon icon="LinkIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                    <div class="mx-4">
                      <span class="font-medium text-lg">Link</span>
                    </div>
                  </div>
                  <div class="flex items-center">
                    <vs-chip color="warning" class="mx-4">0</vs-chip>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <vs-button icon-pack="feather" icon="icon-download">Link 1</vs-button>
                </div>
              </div>
            </vs-collapse-item>
          </vs-collapse>
        </div>
      </div>
    </vs-popup>

  </div>
</template>
<script>
import CardMateri from '@/views/_smpak/components/card/CardMateri'
import 'swiper/dist/css/swiper.min.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  components: {
    CardMateri,
    swiper,
    swiperSlide
  },
  data () {
    return {
      popupGuide: false,
      currentx: 14,
      search: '',
      category: 'matematika',
      categoryOptions: [
        {text: 'Matematika', value:'matematika'},
        {text: 'Ilmu Pengetahuan Alam', value:'ipa'},
        {text: 'Ilmu Pengetahuan Sosial', value:'ips'},
        {text: 'Bahasa Indonesia', value:'b.indonesia'},
        {text: 'Bahasa Inggris', value:'b.inggris'}
      ],
      materis: [
        {img: 'https://placeimg.com/640/480/any1', title: 'Aljabar', category: 'matematika', progress: 50, materi: 6, latihan: 2},
        {img: 'https://placeimg.com/640/480/any2', title: 'Pemangkatan', category: 'matematika', progress: 25, materi: 10, latihan: 5},
        {img: 'https://placeimg.com/640/480/any2', title: 'Pemangkatan', category: 'matematika', progress: 25, materi: 10, latihan: 5},
        {img: 'https://placeimg.com/640/480/any2', title: 'Pemangkatan', category: 'matematika', progress: 25, materi: 10, latihan: 5}
      ],
      swiperOption: {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },
  methods: {
    getDetailGuide () {
      this.popupGuide = true
    }
  }
}
</script>
