<template>
  <div id="dashboard">
    <div class="vx-row">
      <div class="vx-col w-full mb-base">
        <vx-card slot="no-body" class="text-center bg-primary-gradient greet-user">
          <div class="flex flex-col items-center">
            <feather-icon icon="AwardIcon" class="p-6 mb-8 bg-primary inline-flex rounded-full text-white shadow" svgClasses="h-8 w-8"></feather-icon>
            <h1 class="mb-6 text-white">Congratulations Calon Siswa,</h1>
            <p class="xl:w-3/4 lg:w-4/5 md:w-2/3 w-4/5 mx-auto text-white">You have done <strong>60%</strong> more sales today. Check your new badge in your profile.</p>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>

