<template>
  <div id="dashboard">
    <div class="vx-row">

      <div class="vx-col w-full sm:my-5 md:my-5 my-5">
          <div class="carousel-example">
            <swiper :options="swiperOption" :dir="$vs.rtl ? 'rtl' : 'ltr'" :key="$vs.rtl" class="rounded">
              <swiper-slide>
                <img class="responsive" src="@/assets/images/pages/carousel/banner-16.jpg" alt="banner">
              </swiper-slide>
              <swiper-slide>
                <img class="responsive" src="@/assets/images/pages/carousel/banner-13.jpg" alt="banner">
              </swiper-slide>
              <swiper-slide>
                <img class="responsive" src="@/assets/images/pages/carousel/banner-4.jpg" alt="banner">
              </swiper-slide>
              <swiper-slide>
                <img class="responsive" src="@/assets/images/pages/carousel/banner-2.jpg" alt="banner">
              </swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
          </div>
      </div>

      <div class="vx-col w-full sm:w-full md:w-1/2 lg:w-1/4 xl:w-1/4" v-for="(item, index) in dashboardData" :key="index">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon-right
          :icon="item.icon"
          :statistic="item.statistic"
          :statisticTitle="item.statisticTitle"
          :progress="item.progress"/>
      </div>

      <div class="vx-col w-full">
        <vx-card title="Jadwal hari ini">
          <div class="vx-row" v-if="dataJadwal.length">
            <div class="vx-col flex justify-between border-0 border-solid border-primary w-full my-3
                        sm:w-full md:w-1/3 lg:w-1/5
                        border-r-2
                        px-5 sm:my-3 md:my-3 lg:my-0"
                 :class="index == 0 ? 'lg:border-l-2' : ''"
                 v-for="(item, index) in dataJadwal" :key="index">
              <div class="flex items-start">
                <feather-icon icon="BookOpenIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                <div class="mx-4">
                  <span class="font-medium block notification-title text-primary capitalize">{{ item.nama }}</span>
                  <small>{{ item.mulai.substr(11, 15) + ' - ' + item.mulai.substr(11, 15) }}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center" v-else>
            <h5>Tidak ada <b class="text-danger">Jadwal</b> untuk hari ini</h5>
          </div>
        </vx-card>
      </div>

      <div class="vx-col w-full sm:my-5 md:my-5 my-5">
        <vx-card title="Mading">
          <div v-for="(item, index) in informasiData" :key="index">
            <div class="flex gap-5 items-center">
              <div class="flex items-start flex-grow">
                <feather-icon icon="BookOpenIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                <div class="mx-4">
                  <span class="font-medium block notification-title text-primary">{{ item.title }}</span>
                  <small>{{item.desc}}</small>
                </div>
              </div>
              <div class="flex flex-col">
                <small class="mt-1 self-end mb-2">{{ item.time }}</small>
                <div class="flex gap-1 cursor-pointer">
                  <img src="https://placeimg.com/640/480/any" alt="" class="h-12 w-12">
                  <img src="https://placeimg.com/640/480/any" alt="" class="h-12 w-12">
                  <div class="flex justify-center items-center opacity-75">
                    <div class="absolute p-1 rounded-full font-bold bg-primary text-white">+3</div>
                    <img src="https://placeimg.com/640/480/any" alt="" class="h-12 w-12">
                  </div>
                </div>
              </div>
            </div>
            <vs-divider></vs-divider>
          </div>
        </vx-card>
      </div>

    </div>
  </div>
</template>

<script>
import StatisticsCardLine from '@/views/_smpak/components/card/CardStatistic'
import VxTimeline from '@/components/timeline/VxTimeline'
import 'swiper/dist/css/swiper.min.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import dashboard from '@/http/requests/dashboard'


export default {
  created () {
    dashboard.getDashboard().then(response => {
      this.dashboardData = response.dashboard
      this.dataJadwal = response.jadwal
    })
    this.$store.commit('UPDATE_MAIN_LAYOUT_TYPE', 'vertical')
  },
  components: {
    StatisticsCardLine,
    VxTimeline,
    swiper,
    swiperSlide
  },
  data () {
    return {
      statusSiswa: this.$store.state.user.user.user_siswa.status,
      dashboardData: [],
      dataJadwal: [],
      informasiData: [
        {title: 'Pengumpulan Tugas B.Indonesia', desc: 'Pengumpulan tugas bahasa indonesia terakhir pada hari senin minggu depan, diharapkan tidak ada ketelatan', time: '10 sec ago', icon: ''},
        {title: 'Ujian Harian - Fisika', desc: 'Ujian harian fisika akan dilaksanakan besok', time: '10 sec ago', icon: ''},
        {title: 'Tugas Matematika - Aljabar', desc: 'Jangan lupa untuk mengerjakan tugas ini , karena deadline nya besok', time: '10 sec ago', icon: ''}
      ],
      swiperOption: {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  }
}
</script>
