<template>
  <div id="camera">
    <div class="flex flex-col items-center">
      <div class="p-4 bg-success rounded mb-3" v-if="isCameraOpen" v-show="!isLoading">
        <video v-show="!isPhotoTaken" ref="camera" :width="450" :height="337.5" autoplay></video>
        <canvas v-show="isPhotoTaken" id="photoTaken" ref="canvas" :width="450" :height="337.5"></canvas>
      </div>
      <div class="w-6/12">
        <vs-button class="w-full my-1" color="success" icon-pack="feather" icon="icon-aperture" @click="toggleCamera">
          <span v-if="!isCameraOpen">Buka Camera</span>
          <span v-else>Tutup Camera</span>
        </vs-button>
        <vs-button class="w-full my-1" color="success" icon-pack="feather" icon="icon-aperture" v-if="isCameraOpen && !isLoading" @click="takePhoto">Ambil Gambar</vs-button>
      </div>
    </div>
    <vs-divider></vs-divider>
    <div class="flex justify-between">
      <div>
        <h4>{{ nama }}</h4>
        <p class="text-grey">{{ mapel }}</p>
      </div>
      <div>
        <vs-chip color="success" v-if="vicon == 1">Video Confrence</vs-chip>
        <vs-chip color="success" v-if="chat == 1">Chat</vs-chip>
      </div>
    </div>
    <div class="my-3">
      <vs-button class="w-full my-1" color="warning" icon-pack="feather" icon="icon-log-in" v-if="isPhotoTaken" @click="sendAbsen(id)">Masuk</vs-button>
      <p class="font-semibold text-warning" v-if="!isPhotoTaken">- Ambil foto selfie terlebih dahulu untuk melanjutkan!</p>
    </div>
  </div>
</template>

<script>
import absen from '@/http/requests/absen'

export default {
  props: {
    nama: String,
    mapel: String,
    chat: Number,
    vicon: Number,
    id: Number
  },
  data () {
    return {
      userData: JSON.parse(sessionStorage.getItem('user')),
      isCameraOpen: false,
      isPhotoTaken: false,
      isShotPhoto: false,
      isLoading: false,
      link: '#'
    }
  },
  methods: {
    toggleCamera () {
      if (this.isCameraOpen) {
        this.isCameraOpen = false
        this.isPhotoTaken = false
        this.isShotPhoto = false
        this.stopCameraStream()
      } else {
        this.isCameraOpen = true
        this.createCameraElement()
      }
    },
    createCameraElement () {
      this.isLoading = true
      this.$vs.loading()

      const constraints = (window.constraints = {
        audio: false,
        video: true
      })

      navigator.mediaDevices
        .getUserMedia(constraints)
        .then(stream => {
          this.isLoading = false
          this.$vs.loading.close()
          this.$refs.camera.srcObject = stream
        })
        .catch(() => {
          this.isLoading = false
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Gagal',
            text: 'Brwoser anda tidak support atau ada kesalahan',
            color: 'success',
            position: 'top-right'
          })
        })
    },
    stopCameraStream () {
      const tracks = this.$refs.camera.srcObject.getTracks()
      tracks.forEach(track => {
        track.stop()
      })
    },
    takePhoto () {
      if (!this.isPhotoTaken) {
        this.isShotPhoto = true

        const FLASH_TIMEOUT = 50

        setTimeout(() => {
          this.isShotPhoto = false
        }, FLASH_TIMEOUT)
      }

      this.isPhotoTaken = !this.isPhotoTaken

      const context = this.$refs.canvas.getContext('2d')
      context.drawImage(this.$refs.camera, 0, 0, 450, 337.5)
    },
    b64toBlob (b64Data, contentType = '', sliceSize = 512)  {
      const byteCharacters = atob(b64Data)
      const byteArrays = []

      for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        const slice = byteCharacters.slice(offset, offset + sliceSize)

        const byteNumbers = new Array(slice.length)
        for (let i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i)
        }

        const byteArray = new Uint8Array(byteNumbers)
        byteArrays.push(byteArray)
      }

      const blob = new Blob(byteArrays, {type: contentType})
      return blob
    },
    sendAbsen (id) {
      this.$vs.loading()
      let filePhoto = document.getElementById('photoTaken').toDataURL('image/jpeg')

      filePhoto = filePhoto.split(';')

      const contentType = filePhoto[0].split(':')[1]
      const img = filePhoto[1].split(',')[1]
      let file = this.b64toBlob(img, contentType)
      // file = URL.createObjectURL(file)

      absen.sendAbsen(id).then((response) => {
        file = new File([file], `${this.userData.id}${response.id}.jpeg`)

        const data = new FormData()
        data.append('absen_id', response.id)
        data.append('sekolah_id', this.userData.sekolah.id)
        data.append('file', file)

        absen.uploadAbsenFile(data).then(() => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Sukses',
            text: 'Berhasil Absen',
            color: 'success',
            position: 'top-right'
          })
          this.isCameraOpen = false
          this.isPhotoTaken = false
          this.isShotPhoto = false
          this.stopCameraStream()
          this.$emit('closeAbsen', false)
        }).catch(() => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Gagal',
            text: 'Gagal Absen',
            color: 'danger',
            position: 'top-right'
          })
        })

      }).catch(() => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Gagal',
          text: 'Gagal Absen',
          color: 'danger',
          position: 'top-right'
        })
      })
    }
  }
}
</script>
