<template>
  <div id="list-ujian" class="data-list-container ujian">
    <vs-table ref="table" pagination :max-items="itemsPerPage" search :data="dataUjian">

      <template slot="thead">
        <vs-th sort-key="name">Nama Ujian</vs-th>
        <vs-th sort-key="name">Mata Pelajaran</vs-th>
        <vs-th sort-key="name">Jenis Ujian</vs-th>
        <vs-th sort-key="name">Waktu Mulai</vs-th>
        <vs-th sort-key="name">Waktu Selesai</vs-th>
        <vs-th sort-key="selesai">#</vs-th>
      </template>

        <template slot-scope="{data}">
          <tbody>
            <vs-tr :data="ujian" :key="index" v-for="(ujian, index) in data">
              <vs-td>
                <p class="product-name font-medium truncate">{{ ujian.nama_ujian }}</p>
              </vs-td>
                <vs-td>
                <p class="product-name font-medium truncate">{{ ujian.mapel ? ujian.mapel.nama_mapel : "-" }}</p>
              </vs-td>
              <vs-td>
                <vs-chip v-if="ujian.pg" color="success" class="product-order-status">Plihan Ganda</vs-chip>
                <vs-chip v-if="ujian.essay" color="success" class="product-order-status">Essay</vs-chip>
              </vs-td>
              <vs-td>
                <p class="product-name font-medium truncate">{{ujian.mulai}}</p>
              </vs-td>
              <vs-td>
                <p class="product-name font-medium truncate">{{ujian.selesai}}</p>
              </vs-td>
              <vs-td>
                <vs-button @click="$router.push({name: 'preview-ujian', params: {id: ujian.id, nama: ujian.nama_ujian, mapel: ujian.mapel.nama_mapel, mulai: ujian.mulai, selesai: ujian.selesai}}).catch(() => {})">Masuk</vs-button>
              </vs-td>
            </vs-tr>
          </tbody>
        </template>
    </vs-table>
  </div>
</template>

<script>
import ujian from '@/http/requests/ujian'

export default {
  data () {
    return {
      itemsPerPage: 4,
      dataUjian: []
    }
  },
  created () {
    this.$vs.loading()
    ujian.getSoalUjian(this.$route.params.id).then(response => {
      this.dataUjian = response.data
      this.$vs.loading.close()
    }).catch(err => {
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Data gagal ditampilkan',
        text: err.data.message,
        color: 'danger',
        position: 'top-right'
      })
    })
  }
}
</script>

<style lang="scss">
.ujian {
  .vs-con-table {

    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr{
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>