<template>
  <div id="mainujian">
    <div class="w-full">
      <div class="flex justify-center mb-5">
        <h6 v-html="isPg ? 'Pilihan Ganda' : 'Essay'"></h6>
      </div>
      <vx-card class="mb-4">
        <div class="flex gap-4">
          <h3 class="font-bold" v-html="isPg ? currentPg : currentEssay"></h3>
          <div class="flex flex-col gap-4">
            <div v-if="isPg" v-html="dataPilihanGanda[currentPg - 1] ? dataPilihanGanda[currentPg - 1].soal : '-'"></div>
            <div v-if="isEssay" v-html="dataEssay[currentEssay - 1] ? dataEssay[currentEssay - 1].soal : '-'"></div>
            <div v-if="isEssay && dataEssay[currentEssay - 1].file_soal">
              <audio controls>
                <source :src="`${this.apiFile}/${dataEssay[currentEssay - 1].file_soal.file}`" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
            <div v-if="isPg && dataPilihanGanda[currentPg - 1].file_soal">
              <audio controls>
                <source :src="`${this.apiFile}/${dataEssay[currentEssay - 1].file_soal.file}`" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </vx-card>
      <div class="flex flex-col gap-2" v-if="isPg">
        <vx-card v-for="(opsi, index) in dataPilihanGanda[currentPg - 1] ? dataPilihanGanda[currentPg - 1].opsi : []" :key="index"
          @click="handlePilihanPg(index)" ref="opsiPg" class="cursor-pointer" :class="index === opsi.jawaban ? 'bg-success' : ''">
          <div class="flex gap-4 items-center">

            <h4><b>{{opsi.opsi}}.</b></h4>
            <p v-html="toStripHTML(opsi.jawab_opsi)"></p>
          </div>
        </vx-card>
      </div>
      <div class="flex flex-col gap-2" v-if="isEssay">
        <vx-card>
          <small>Isi jawaban pada inputan dibawah ini!</small>
          <vs-textarea v-model="currentEssayAnswer" @keyup="handlePilihanEssay"/>
          <div class="flex gap-2 items-center">
            <div v-if="!currentEssayFile">
              <small>Upload File:</small>
              <input id="files" ref="files" type="file" name="files" @change="handleFiles">
            </div>
            <div class="flex gap-2 items-center" v-else>
              <vs-button size="small" @click="handleChangeFile">Ganti file</vs-button>
              <b class="text-success">File:</b> {{ currentEssayFile}}
            </div>
          </div>
        </vx-card>
      </div>
      <div class="flex justify-between mt-4">
        <vs-button color="success" @click="handleSebelumnya" :disabled="currentPg === 1">Sebelumnya</vs-button>
        <div>
          <vs-button color="success" @click="handleSelanjutnya" :disabled="isFinish()">Selanjutnya</vs-button>
          <vs-button color="success" class="ml-3" @click="confirmSelesai" v-if="isFinish()">Selesai</vs-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ujian from '@/http/requests/ujian'

export default {
  data () {
    return {
      userData: JSON.parse(sessionStorage.getItem('user')),
      dataUjian: [],
      dataPilihanGanda: [],
      currentEssayAnswer: '',
      jawabanPg: [],
      currentJawaban: {},
      isFilled: 0,
      ujianFile: '',
      currentEssayFile: ''
    }
  },
  computed: {
    numberOfPg () {
      return this.dataPilihanGanda.length
    },
    numberOfEssay () {
      return this.dataEssay.length
    },
    currentSoal () {
      return 'Debug Soal'
    },
    currentPg () {
      console.log('SOAL NOH BOS', this.$store.state.ujian.dataPilihanGanda[this.$store.state.ujian.currentPg - 1])
      console.log('CURRENT', this.$store.state.ujian.currentPg)
      if (this.isPg) {
        let jawaban = ''
        if (this.$store.state.ujian.dataPilihanGanda[this.$store.state.ujian.currentPg - 1]) {
          jawaban = this.$store.state.ujian.dataPilihanGanda[this.$store.state.ujian.currentPg - 1].jawaban
        }
        setTimeout(() => {
          if (jawaban || jawaban === 0) {
            if (this.$refs['opsiPg']) {
              this.$refs['opsiPg'].map((el) => {
                el.$el.classList.remove('bg-success')
              })
              this.$refs['opsiPg'][jawaban].$el.classList.add('bg-success')
            } 
          }
          if (this.$refs['opsiPg']) console.log('WHY', this.$refs['opsiPg'].length)
        }, 100)
      }
      return this.$store.state.ujian.currentPg
    },
    currentEssay: {
      get () {
        return this.$store.state.ujian.currentEssay
      }, 
      set (newState) {
        return newState
      }
    },
    isPg () {
      return this.$store.state.ujian.isPg
    },
    isEssay () {
      return this.$store.state.ujian.isEssay
    },
    dataEssay () {
      return this.$store.state.ujian.dataEssay
    },
    opsiRefs () {
      return this.$refs['opsiPg']
    },
    apiFile () {
      return this.$store.state.server.server.domain_storage
    }
  },
  methods: {
    handleSebelumnya () {
      const dataJawabanEssay = {
        id: '',
        jawaban: ''
      }

      const jawabanPg = this.dataPilihanGanda.map(res => {
        return res.jawaban_id
      })

      let dataJawabanPg = ''
      for (let index = 0; index < jawabanPg.length; index++) {
        dataJawabanPg += `${index + 1}:${jawabanPg[index] ? jawabanPg[index] : ''},`
      }

      if (this.isPg) {
        this.$refs['opsiPg'].map((el) => {
          el.$el.classList.remove('bg-success')
        })
        this.$store.dispatch('ujian/setCurrentPg', this.currentPg - 1)
      }
      
      if (this.isEssay) {
        this.currentEssay = this.$store.dispatch('ujian/setCurrentEssay',  this.currentEssay - 1)
      }

      if (this.currentEssay < 1 && this.isEssay) {
        this.$store.dispatch('ujian/setIsPg', true)
        this.$store.dispatch('ujian/setIsEssay', false)
        this.$store.dispatch('ujian/setCurrentPg', this.numberOfPg)
        this.$store.dispatch('ujian/setCurrentEssay', 1)
      }

      if (this.isPg) {
        const {jawaban, opsi} = this.$store.state.ujian.dataPilihanGanda[this.currentPg - 1]
        if (jawaban || jawaban === 0) {
          setTimeout(() => {
            if (opsi.length) this.$refs['opsiPg'][jawaban].$el.classList.add('bg-success')
          }, 0)
        }
      }

      if (this.isEssay) {
        dataJawabanEssay.jawabanEssay = this.currentEssayAnswer
        const {file, jawabanEssay, id : essay_id} = this.$store.state.ujian.dataEssay[this.currentEssay - 1]
        this.currentEssayAnswer = ''
        if (jawabanEssay || jawabanEssay === 0 || jawabanEssay) {
          this.currentEssayAnswer = jawabanEssay
        }
        dataJawabanEssay.id = essay_id
        this.currentEssayFile = file ? file : ''
      }

      const data = {
        id: this.dataUjian.id,
        ujian_id: this.dataUjian.id_ujian,
        jawaban_pg: dataJawabanPg,
        jawaban_essay: dataJawabanEssay.jawabanEssay
      }
      this.currentJawaban = data

      if (this.isFilled) {
        ujian.uploadUjian(data.id, data.ujian_id, data.jawaban_pg, data.jawaban_essay, dataJawabanEssay.id).then(response => {
          this.currentEssayAnswer = ''
          if (this.isEssay) {
            if (this.ujianFile.length > 0) {
              this.sendFileUjian(response.id)
            }
          }
        }).catch(err => {
          console.log('ini adalah error =>>', err)
        })
      }
      this.isFilled = 0
      console.log('ESSAY', this.$store.state.ujian.dataEssay[this.currentEssay - 1])
    },
    handleSelanjutnya () {
      // Default State    
      const dataJawabanEssay = {
        id: '',
        jawaban: ''
      }

      const jawabanPg = this.dataPilihanGanda.map(res => {
        return res.jawaban_id
      })

      let dataJawabanPg = ''
      for (let index = 0; index < jawabanPg.length; index++) {
        dataJawabanPg += `${index + 1}:${jawabanPg[index] ? jawabanPg[index] : ''},`
      }

      if (this.isPg) {
        this.$refs['opsiPg'].map((el) => {
          el.$el.classList.remove('bg-success')
        })
        this.$store.dispatch('ujian/setCurrentPg', this.currentPg + 1)
      }
      if (this.isEssay) {
        this.$store.dispatch('ujian/setCurrentEssay', this.currentEssay + 1)
        this.$store.dispatch('ujian/setCurrentPg', this.numberOfPg)
      }

      if (this.currentPg > this.numberOfPg && this.dataEssay.length) {
        this.$store.dispatch('ujian/setIsEssay', true)
        this.$store.dispatch('ujian/setIsPg', false)
        this.$store.dispatch('ujian/setCurrentPg', this.numberOfPg)
      }

      // Get Current Answer from State (Pilihan Ganda)
      if (this.isPg) {
        const {jawaban} = this.$store.state.ujian.dataPilihanGanda[this.currentPg - 1]
        if (jawaban || jawaban === 0) {
          this.$refs['opsiPg'][jawaban].$el.classList.add('bg-success')
        }
      }

      if (this.isEssay) {
        dataJawabanEssay.jawaban = this.currentEssayAnswer

        let essay_id = 0
        if (this.currentEssay === 1) {
          const {id : essayid } = this.$store.state.ujian.dataEssay[this.currentEssay - 1]
          essay_id = essayid
        } else {
          const {id : essayid } = this.$store.state.ujian.dataEssay[this.currentEssay - 2]
          essay_id = essayid
        }
        const {file, jawabanEssay} = this.$store.state.ujian.dataEssay[this.currentEssay - 1]
        this.currentEssayAnswer = ''
        if (jawabanEssay || jawabanEssay === 0 || jawabanEssay) {
          this.currentEssayAnswer = jawabanEssay
        }
        dataJawabanEssay.id = essay_id
        this.currentEssayFile = file ? file : ''
        console.log('file noh boss', file)
        console.log('HAHAH iya', essay_id)
      }

      const data = {
        id: this.dataUjian.id,
        ujian_id: this.dataUjian.id_ujian,
        jawaban_pg: dataJawabanPg,
        jawaban_essay: dataJawabanEssay.jawaban
      }
      this.currentJawaban = data

      if (this.isFilled) {
        ujian.uploadUjian(data.id, data.ujian_id, data.jawaban_pg, data.jawaban_essay, dataJawabanEssay.id).then(response => {
          this.currentEssayAnswer = ''
          if (this.isEssay) {
            if (this.ujianFile.length > 0) {
              this.sendFileUjian(response.id)
            }
          }
        }).catch(err => {
          console.log('ini adalah error =>>', err)
        })  
      }
      this.isFilled = 0
    },
    handlePilihanPg (index) {
      this.$refs['opsiPg'].map((el) => {
        el.$el.classList.remove('bg-success')
      })
      this.$refs['opsiPg'][index].$el.classList.add('bg-success')
      this.isFilled++

      this.dataPilihanGanda[this.currentPg - 1].jawaban = index
      this.dataPilihanGanda[this.currentPg - 1].jawaban_id = this.dataPilihanGanda[this.currentPg - 1].opsi[index].id
      this.$store.dispatch('ujian/setDataPilihanGanda', [])
      this.$store.dispatch('ujian/setDataPilihanGanda', this.dataPilihanGanda)

    },
    handlePilihanEssay () {
      this.isFilled++
      this.dataEssay[this.currentEssay - 1].jawabanEssay = this.currentEssayAnswer
      this.$store.dispatch('ujian/setDataEssay', this.dataEssay)
    },
    confirmSelesai () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Selesai',
        text: 'Apakah anda yakin akan menyelesaikan ujian ini?',
        accept: this.handleSelesai
      })
    },
    handleSelesai () {
      const jawabanPg = this.dataPilihanGanda.map(res => {
        return {id: res.id, jawaban: res.jawaban_id}
      })

      const data = {
        id: this.dataUjian.id,
        ujian_id: this.dataUjian.id_ujian,
        essay_id: '',
        jawaban_pg: null,
        jawaban_essay: ''
      }

      if (this.dataPilihanGanda.length) {
        let dataJawabanPg = ''
        for (let index = 0; index < jawabanPg.length; index++) {
          dataJawabanPg += `${jawabanPg[index].id}:${jawabanPg[index] ? jawabanPg[index].jawaban : ''},`
        }
        data.jawaban_pg = dataJawabanPg
      }
      
      if (this.dataEssay.length) {
        const dataJawabanEssay = {
          id: '',
          jawaban: ''
        }
        const {jawabanEssay : jawaban, id : essay_id} = this.$store.state.ujian.dataEssay[this.currentEssay - 1]
        dataJawabanEssay.id = essay_id
        dataJawabanEssay.jawaban = jawaban

        data.essay_id = essay_id
        data.jawaban_essay = dataJawabanEssay.jawaban
      }

      ujian.finishUjian(data).then(response => {
        this.$vs.notify({
          title: 'Selesai',
          text: 'Terimakasih telah menyelesaikan ujian ini',
          color: 'success',
          position: 'top-right'
        })

        setTimeout(() => {
          this.$store.dispatch('ujian/setNowUjian', [])
          this.$store.dispatch('ujian/setDataEssay', [])
          this.$store.dispatch('ujian/setDataPilihanGanda', [])
          this.$store.dispatch('ujian/setCurrentPg', 1)
          this.$store.dispatch('ujian/setCurrentEssay', 1)

          this.$router.push('ujian').catch(() => {})
        }, 2000)
        if (this.isEssay) {
          if (this.ujianFile.length > 0) {
            this.sendFileUjian(response.id)
          }
        }
      }).catch(err => {
        console.log('ini adalah error =>>', err)
      }) 
    },
    handleFiles () {
      this.isFilled++
      this.ujianFile = this.$refs.files.files
      this.dataEssay[this.currentEssay - 1].file = this.$refs.files.files[0].name
      this.$store.dispatch('ujian/setDataEssay', this.dataEssay)
    },
    sendFileUjian (id) {
      const data = new FormData()
      data.append('jawaban_id', id)
      data.append('sekolah_id', this.userData.sekolah.id)
      Object.values(this.ujianFile)
        .forEach(file => {
          data.append('file', file)
        })
      ujian.uploadUjianFile(data).then(() => {
        this.tugasFile = ''
        this.$refs.files.value = ''
      }).catch(err => {
        console.log('ERR', err)
      })
    },
    handleChangeFile () {
      this.currentEssayFile = ''
    },
    isFinish () {
      if (!this.dataEssay.length && this.currentPg === this.numberOfPg) {
        console.log('masuk')
        return true
      } else if (this.dataEssay.length && this.currentEssay === this.numberOfEssay) {
        console.log('masuk 2')
        return true
      } else {
        console.log('masuk 3')
        return false
      }
    },
    toStripHTML(val, size = 0) {
      const newval = val.replace(/&#(\d+);/g, function (match, dec) {
          return String.fromCharCode(dec);
        })

        const div = document.createElement('div')
        div.innerHTML = newval
        let text = div.textContent || div.innerText || ''

        if (size < 1) {
          return text.replace(/<[^>]+>/g, '')
        }

        text = text.toString()

        if (text.length < size) {
          return text.replace(/<[^>]+>/g, '')
        }
        return text.replace(/<[^>]+>/g, '').substr(0, size) + '...'
    },
    decodeEntities(text) {
      const span = document.createElement('span');

        return text
        .replace(/&[#A-Za-z0-9]+;/gi, (entity,position,text)=> {
            span.innerHTML = entity;
            return span.innerText;
        });
    },

  },
  created () {
    this.dataUjian = this.$store.state.ujian.dataUjian
    this.dataPilihanGanda = this.$store.state.ujian.dataPilihanGanda
    this.dataPilihanGanda.map(pg => {
      if(pg.opsi.length > 0) {
        pg.opsi.map(opsi => {
          
          opsi.jawab_opsi = this.decodeEntities(opsi.jawab_opsi)
        })
      }
    })
  },
  mounted () {
    if (this.isPg) {
      const {jawaban} = this.$store.state.ujian.dataPilihanGanda[this.currentPg - 1]
      if (jawaban || jawaban === 0) {
        this.$refs['opsiPg'][jawaban].$el.classList.add('bg-success')
      }
    }
  }
}
</script>