<template>
  <div id="intruksi-ujian">
    <div class="w-full p-4 flex flex-col gap-4">
      <vx-card>
        <div class="flex justify-between">
          <div class="flex items-center gap-4">
            <h1 class="capitalize">{{dataUjian.nama}}</h1>
            <vs-chip color="success">{{dataUjian.mapel || '-'}}</vs-chip>
          </div>
          <div class="flex gap-4 items-center">
            <small class="flex items-center gap-2">
              <feather-icon icon="CalendarIcon" class="w-4 h-4"></feather-icon>
              {{dataUjian.mulai}} - {{dataUjian.selesai}}
            </small>
            <small>|</small>
            <small class="flex items-center gap-2">
              <feather-icon icon="ClockIcon" class="w-4 h-4"></feather-icon>
              {{getTime}}
            </small>
          </div>
        </div>
      </vx-card>
      <vx-card>
        <div class="text-center mb-5">
          <h3>Instruksi Ujian</h3>
        </div>
        <section v-if="dataUjian.instruksi_ujian != null && dataUjian.instruksi_ujian != undefined">
          <div v-html="dataUjian.instruksi_ujian"></div>
        </section>
        <div v-else>
          <h5>Petunjuk Pengerjaan:</h5>
          <div class="ml-5">
            <li>Berdo’alah sebelum mengerjakan!</li>
            <li>Isi identitas anda pada Lembar jawaban Ujian Sekolah Berstanndar Nasional (LJUSBN) yang tersedia menggunakan pensil 2B.</li>
            <li>Jagalah LJUSBN agar tidak rusak, sobek, ataupun terlipat.</li>
            <li>Jumlah soal sebanyak 45 butir dengan 40 (Empat Puluh) pilihan ganda dan 5 (Lima) uraian.</li>
            <li>Periksa dan bacalah setiap butir soal dengan seksama sebelum anda menjawabnya.</li>
            <li>Laporkan kepada pengawas ujian bila ada lembar yang kurang jelas, rusak, atau tidak lengkap.</li>
            <li>Pilih jawaban yang anda anggap paling benar.</li>
            <li>Periksa kembali pekerjaan anda sebelum diserahkan kepada pengawas ujian.</li>
            <li>Apabila ada jawaban yangn dianggap salah, maka hapuslah jawaban yang salah tersebut sampai bersih, kemudian hitamkanlah pada kotak huruf jawaban lain yang anda anggap benar</li>
          </div>
        </div>
      </vx-card>
      <div class="flex justify-between gap-3">
        <vs-button color="danger" @click="$router.push({name: 'ujian'}).catch(() => {})">Kembali</vs-button>
        <vs-button
          color="primary"
          class="w-full"
          @click.prevent="startUjian"
          v-if="statusUjian == 'pending'"
        >
          MULAI UJIAN
        </vs-button>
        <vs-button
          color="#aaa"
          class="w-full"
          v-else-if="statusUjian == 'complete'"
          style="cursor: not-allowed;"
          readonly
          disabled
        >
          TIDAK MEMASUKI WAKTU UJIAN
        </vs-button>

        <vs-button
          color="#aaa"
          class="w-full"
          v-else-if="statusUjian == 'out_of_schedule'"
          style="cursor: not-allowed;"
          readonly
        >
          TIDAK MEMASUKI WAKTU UJIAN
        </vs-button>
      </div>
    </div>
  </div>
</template>

<script>
import ujian from '@/http/requests/ujian'

export default {
  data () {
    return {
      dataUjian: {
        id: this.$route.params.id,
        nama: this.$route.params.nama,
        mapel: this.$route.params.mapel,
        mulai: this.$route.params.mulai,
        selesai: this.$route.params.selesai
      },
      waktuUjian: '',
      labelUjian: 'Mulai Ujian',
      statusUjian: 'pending'
    }
  },
  methods: {
    startUjian () {
      // this.$vs.loading()
      const isTimeForUjian = Math.floor(new Date(this.dataUjian.mulai) - new Date()) <= 0
      const notFinish = Math.floor(new Date(this.dataUjian.selesai) - new Date()) >= 0

      if (!notFinish) {
        console.log('UDAH SELESAI')
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Gagal memasuki Ujian',
          text: 'Ujian ini telah selesai dilaksanakan!',
          color: 'danger',
          position: 'top-right'
        })
      } else if (!isTimeForUjian) {
        console.log('UJIAN NYA BELUM DIMULAI YA')
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Gagal memasuki Ujian',
          text: 'Ujian belum dimulai, kembali lagi saat sudah waktunya!',
          color: 'danger',
          position: 'top-right'
        })
      } else if (Object.keys(this.$store.state.ujian.nowUjian).length) {
        console.log('UDAH MASUK UJIAN TAPI TADI ERROR YAH')
        if (this.$store.state.ujian.nowUjian.soal_pg) {
          this.$store.dispatch('ujian/setIsEssay', false)
          this.$store.dispatch('ujian/setIsPg', true)
        } else {
          this.$store.dispatch('ujian/setIsEssay', true)
          this.$store.dispatch('ujian/setIsPg', false)
        }
        // Call API Post Hasil-Ujian
        this.getUjian(this.$store.state.ujian.nowUjian.id)
        this.$vs.loading.close()
      } else {
        console.log('OK KAMU BARU MASUK UJIAN')
        ujian.postUjian(this.$route.params.id).then(response => {
          this.$store.dispatch('ujian/setNowUjian', response)
          // Call API Get Hasil-Ujian
          this.getUjian(response.id)
          this.$vs.loading.close()
        }).catch(err => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Gagal memasuki Ujian',
            text: err.data.message,
            color: 'danger',
            position: 'top-right'
          })
        })
      }
    },
    getUjian (idUjian) {
      ujian.startUjian(idUjian).then(res => {
        console.log('DATA ESSAY NIH BOSSS', JSON.parse(res.data[res.data.length - 1].essay))
        console.log('DATA PG NIH BOSSS', JSON.parse(res.data[res.data.length - 1].pg))
        const {mulai, selesai, mapel, nama, id} = this.dataUjian
        const dataUjian = {
          nama_ujian: nama,
          mulai,
          selesai,
          mapel,
          id_ujian: id,
          id: idUjian
        }

        // set State
        this.$store.dispatch('ujian/setDataPilihanGanda', JSON.parse(res.data[res.data.length - 1].pg))
        this.$store.dispatch('ujian/setDataEssay', JSON.parse(res.data[res.data.length - 1].essay))
        this.$store.dispatch('ujian/setDataUjian', dataUjian)

        if (JSON.parse(res.data[res.data.length - 1].pg).length) {
          this.$store.dispatch('ujian/setIsEssay', false)
          this.$store.dispatch('ujian/setIsPg', true)
        } else {
          this.$store.dispatch('ujian/setIsEssay', true)
          this.$store.dispatch('ujian/setIsPg', false)
        }

        this.$vs.loading.close()
        this.$router.push({name: 'main-ujian'}).catch(() => {})
      }).catch(() => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Gagal memasuki Ujian',
          text: 'Anda gagal untuk masuk ke dalam ujian ini',
          color: 'danger',
          position: 'top-right'
        })
      })  
    }
  },
  computed: {
    getTime () {
      const second = 1000,
        minute = second * 60,
        hour = minute * 60

      const selesai = this.dataUjian.selesai,
        countDown = new Date(selesai).getTime()

      const mulai = new Date(this.dataUjian.mulai).getTime(),
        distance = countDown - mulai

      return `${Math.floor((distance) / (hour))} Jam, ${Math.floor((distance % (hour)) / (minute))} menit`
    }
  },
  created() {
    const isTimeForUjian = Math.floor(new Date(this.dataUjian.mulai) - new Date()) <= 0
    const notFinish = Math.floor(new Date(this.dataUjian.selesai) - new Date()) >= 0

    if( !isTimeForUjian ) {
      this.statusUjian = 'out_of_schedule'
    }
    else if( !notFinish ) {
      this.statusUjian = 'complete'
    }
    else {
      this.statusUjian = 'pending'
    }

    console.log('Sttuas', this.statusUjian)
  }
}
</script>