<template>
    <div id="ujian" class="data-list-container ujian">
    <div class="vx-row">
      <div class="vx-col w-full sm:w-full md:w-full lg:w-1/4 xl:w-1/4 mb-base my-3" :key="index" v-for="(ujian, index) in dataUjian">
        <vx-card>
          <div>
            <h1 class="text-center mb-3">{{ujian.nama_ujian}}</h1>
            <vs-button class="w-full" @click="$router.push({name: 'list-ujian', params: {id: ujian.id}}).catch(() => {})">Masuk</vs-button>
          </div>
        </vx-card>
      </div>
    </div>

    <!-- <vs-table ref="table" pagination :max-items="itemsPerPage" search :data="dataUjian">

      <template slot="thead">
        <vs-th sort-key="name">Tipe Ujian</vs-th>
        <vs-th sort-key="selesai">#</vs-th>
      </template>

        <template slot-scope="{data}">
          <tbody>
            <vs-tr :data="ujian" :key="index" v-for="(ujian, index) in data">
              <vs-td>
                <p class="product-name font-medium truncate">{{ ujian.nama_ujian }}</p>
              </vs-td>
              <vs-td>
                <vs-button @click="$router.push({name: 'list-ujian', params: {id: ujian.id}}).catch(() => {})">Masuk</vs-button>
              </vs-td>
            </vs-tr>
          </tbody>
        </template>
    </vs-table> -->
  </div>
</template>

<script>
import ujian from '@/http/requests/ujian'
import pengajar from '@/http/requests/others/pengajar'

export default {
  data () {
    return {
      itemsPerPage: 4,
      dataUjian: []
    }
  },
  created () {
    this.$vs.loading()
    pengajar.getMapelId().then(res => {
      // Send API Ujian
      ujian.getUjian(res).then(response => {
        this.dataUjian = response.data
        this.$store.registerModule('dataList', response.data)
        this.$vs.loading.close()
      }).catch(err => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Data gagal ditampilkan',
          text: err.data.message,
          color: 'danger',
          position: 'top-right'
        })
      })
    }).catch(() => {
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Data tidak ditemukan',
        text: 'Gagal mendapatkan data Ujian',
        color: 'danger',
        position: 'top-right'
      })
    })
  }
}
</script>

<style lang="scss">
.ujian {
  .vs-con-table {

    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr{
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>