<template>
  <div id="nilai">
    <div class="vx-row">
      <vx-card title="Nilai">
        <div v-for="(item, index) in dataNilai" :key="index">
          <h1>{{item.nilai || 0}}</h1>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import nilai from '@/http/requests/nilai'

export default {
  data () {
    return {
      dataNilai: []
    }
  },
  created () {
    nilai.getNilai().then(res => {
      console.log('NILAI TUGAS NIH BOS', res)
      // this.dataNilai = res.data
    }).catch(err => console.log(err))
  }
}
</script>
