<template>
  <div class="vx-row">
    <div class="vx-col w-full h-full flex items-center justify-center">
      <div class="vx-col w-1/3">
        <vx-card title="Ubah Password">
          <div class="vx-col w-full">
            <vs-input type="password" size="large" v-validate="'required|min:6|max:10'" ref="password" placeholder="Password Baru" name="password" v-model="password" class="mt-5 w-full" />
            <span class="text-danger text-sm" v-show="errors.has('password')">{{ errors.first('password') }}</span>
          </div>

          <div class="vx-col w-full">
            <vs-input type="password" size="large" v-validate="'required|min:6|max:10|confirmed:password'" data-vv-as="password" placeholder="Ulangi Password" name="confirm_password" v-model="confirm_password" class="mt-5 w-full" />
            <span class="text-danger text-sm" v-show="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</span>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>
