<template>
    <div id="profile">
        <div class="vx-row">
            <div class="vx-col w-full">
              <vx-card class="overlay-card overflow-hidden">
                <template slot="no-body">
                  <img src="@/assets/_smpak/images/background/overlay.jpg" alt="user-profile-cover" class="responsive overlay-img">
                  <div class="card-overlay text-white vx-row">
                    <div class="vx-col w-full flex items-center justify-between">
                      <div class="flex items-center gap-6">
                        <img v-if="user.user_siswa.photo" :src="apiFile + '/' + user.user_siswa.photo.file" alt="user-img" class="rounded" style="width: 7em;height: 7em"/>
                        <img v-else src="@/assets/images/portrait/small/avatar-s-11.jpg" alt="user-img" class="rounded" style="width: 7em;height: 7em"/>
                        <div class="flex flex-col gap-3">
                          <div>
                            <h1 class="text-white">{{ user.nama_siswa }}</h1>
                          </div>
                          <div class="w-full">
                            <p>{{ user.sekolah.nama_sekolah }}, {{ user.kelas.kelas }}</p>
                            <vs-chip color="success">{{ user.jurusan.nama_jurusan }}</vs-chip>
                            <vs-chip color="success capitalize">{{ user.semester.nama_semester }}</vs-chip>
                            <vs-chip color="success">NISN{{ user.nisn }}</vs-chip>
                          </div>
                        </div>
                      </div>
                      <div>
                        <vs-button icon-pack="feather" icon="icon-edit" color="warning" class="mr-3 mb-2" @click="toggleEdit(isEdit)">
                          <span v-if="!isEdit">Ubah Profile</span>
                          <span v-else>Batal</span>
                        </vs-button>
                      </div>
                    </div>
                  </div>
                </template>
              </vx-card>
              <vx-card :title="isEdit ? 'Ubah' : 'Detail'" class="mt-5">
                    <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input name="nisn" class="w-full" label="NISN" :disabled="!isEdit" v-model="user.nisn" v-validate="'required'"/>
                            <span class="text-danger text-sm" v-show="errors.has('nisn')">{{ errors.first('nisn') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input name="name" class="w-full" label="Nama Siswa" :disabled="!isEdit" v-model="user.nama_siswa" v-validate="'required'"/>
                            <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2 flex items-end">
                          <vs-select :disabled="!isEdit" v-model="user.agama" class="w-full" label="Agama">
                            <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in agamaOptions" class="w-full" />
                          </vs-select>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2 flex items-end">
                            <vs-select :disabled="!isEdit" v-model="user.jenis_kelamin" class="w-full" label="Jenis Kelamin">
                                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in jkOptions" class="w-full" />
                            </vs-select>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input name="tempat-lahir" class="w-full" label="Tempat Lahir" :disabled="!isEdit" v-model="user.tempat_lahir" v-validate="'required'"/>
                            <span class="text-danger text-sm" v-show="errors.has('tempat-lahir')">{{ errors.first('tempat-lahir') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input class="w-full" type="date" label="Tanggal Lahir" :disabled="!isEdit" v-model="user.tanggal_lahir"/>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input name="alamat" class="w-full" label="Alamat Tinggal" :disabled="!isEdit" v-model="user.alamat_tinggal" v-validate="'required'"/>
                            <span class="text-danger text-sm" v-show="errors.has('alamat')">{{ errors.first('alamat') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input name="telp" class="w-full" label="No. Telepon" :disabled="!isEdit" v-model="user.user_siswa.no_telp" v-validate="'required'"/>
                            <span class="text-danger text-sm" v-show="errors.has('telp')">{{ errors.first('telp') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                          <label>Foto Profile</label> 
                          <input id="files" ref="files" type="file" name="files" @change="handleFiles" class="w-full" label="Foto Profile" :disabled="!isEdit"/>
                        </div>
                        <vs-divider></vs-divider>

                        <vs-alert active="true" color="warning" class="mx-4 my-2" icon-pack="feather" icon="icon-alert-triangle" v-show="isEdit">
                          Isi data dibawah jika ingin mengubah Email atau Password anda.
                        </vs-alert>

                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input name="email" type="email" class="w-full" label="Email" :disabled="!isEdit" v-model="user.user_siswa.email" v-validate="'required|email'"/>
                            <span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full" v-show="isEdit">
                          <vs-input type="password" v-validate="'min:6'" ref="password" placeholder="Password Baru" name="password" v-model="password" class="mt-5 w-full" />
                          <span class="text-danger text-sm" v-show="errors.has('password')">{{ errors.first('password') }}</span>

                          <vs-input type="password" :disabled="!isFieldPass" v-validate="'min:6|confirmed:password'" data-vv-as="password" placeholder="Ulangi Password" name="confirm_password" v-model="confirm_password" class="mt-5 w-full" />
                          <span class="text-danger text-sm" v-show="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</span>
                        </div>
                    </div>
                    <vs-divider></vs-divider>
                    <div class="vx-row" v-if="isEdit">
                        <div class="vx-col w-full">
                          <vs-button color="success" icon-pack="feather" icon="icon-edit" class="mr-3 mb-2" @click="confirmEdit()">Ubah</vs-button>
                        </div>
                    </div>
                </vx-card>
            </div>
        </div>
    </div>
</template>
<script>
import apiSiswa from '@/http/requests/siswa'

export default {
  data () {
    return {
      user: JSON.parse(sessionStorage.getItem('user')),
      jkOptions: [{id: 1, nama: 'Laki-laki'}, {id: 2, nama: 'Perempuan'}],
      agamaOptions: [
        {id: 1, nama: 'Islam'},
        {id: 3, nama: 'Kristen'},
        {id: 4, nama: 'Katolik'},
        {id: 5, nama: 'Hindu'},
        {id: 6, nama: 'Buddha'},
        {id: 7, nama: 'Khonghucu'}
      ],
      password: '',
      confirm_password: '',
      isEdit: false,
      fotoFile: ''
    }
  },
  computed: {
    isFieldPass () {
      if (this.password) {
        return true
      } else {
        return false
      }
    },
    apiFile () {
      return this.$store.state.server.server.domain_storage
    }
  },
  methods: {
    toggleEdit () {
      this.isEdit = !this.isEdit
    },
    confirmEdit () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'success',
        title: 'Ubah Profile',
        text: 'Apakah anda yakin akan mengubah data profile anda?',
        accept: this.editSiswa
      })
    },
    editSiswa () {
      console.log('Masuk ngga sih kamu ini')
      this.$validator.validateAll().then(result => {
        if (result) {
          const userData = this.user
          const userForm = [
            {
              id: userData.id,
              email: userData.user_siswa.email,
              no_telp: userData.user_siswa.no_telp,
              agama: userData.agama,
              jenis_kelamin: userData.jenis_kelamin,
              nisn: userData.nisn,
              nama_siswa: userData.nama_siswa,
              tempat_lahir: userData.tempat_lahir,
              tanggal_lahir: userData.tanggal_lahir,
              alamat_tinggal: userData.alamat_tinggal
            }
          ]

          if (this.fotoFile.length > 0) {
            this.$vs.loading()
            const data = new FormData()
            data.append('user_id', userData.user_siswa.id)
            data.append('sekolah_id', userData.sekolah.id)
            Object.values(this.fotoFile)
              .forEach(file => {
                data.append('file', file)
              })

            // Send API Foto File
            apiSiswa.uploadFotoProfile(data).then(() => {
              this.$vs.loading.close()
              this.$vs.notify({
                title: 'Sukses',
                text: 'Foto Profile berhasil di ubah',
                color: 'success',
                position: 'top-right'
              })
            }).catch(err => {
              this.$vs.loading.close()
              this.$vs.notify({
                title: 'Gagal',
                text: err.data.message,
                color: 'danger',
                position: 'top-right'
              })
            })
          }

          if (this.password) userForm[0].password = this.password
          apiSiswa.editProfileSiswa(userForm).then(() => {
            this.isEdit = false
            this.$vs.notify({
              title: 'Sukses',
              text: 'Data berhasil diperbarui',
              color: 'success',
              position: 'top-right'
            })

            apiSiswa.getSiswa().then(res => {
              sessionStorage.setItem('user', JSON.stringify(res.profile[0]))
              this.user = res.profile[0]
            })
          }).catch(() => {
            this.$vs.notify({
              title: 'Gagal',
              text: 'Data gagal diperbarui',
              color: 'danger',
              position: 'top-right'
            })
          })
        } else {
          this.$vs.notify({
            title: 'Gagal',
            text: 'Cek kembali data inputan anda',
            color: 'danger',
            position: 'top-right'
          })
        }
      })
    },
    handleFiles () {
      this.fotoFile = this.$refs.files.files
    }
  }
}
</script>
<style lang="scss" scoped>
  .overlay-card{
    .overlay-img{
      object-fit: cover;
      max-height: 12em;
      min-height: 12em;
    }
  }
</style>

