<template>
  <div class="parentx">
    <vs-sidebar
      class="v-nav-menu items-no-padding"
      v-model="isVerticalNavMenuActive"
      ref="verticalNavMenu"
      default-index="-1"
      :click-not-close="clickNotClose"
      :reduce-not-rebound="reduceNotRebound"
      :parent="parent"
      :hiddenBackground="clickNotClose"
      :reduce="reduce"
      v-hammer:swipe="onMenuSwipe">

      <div class="w-full">
        <div class="flex flex-col items-center gap-3 mt-8">
          <h3>{{dataUjian.nama_ujian}}</h3>
          <div>
            <vs-chip color="success">{{dataUjian.mapel ? dataUjian.mapel.nama_mapel : '-'}}</vs-chip>
          </div>
          <div class="bg-primary mt-3 py-4 w-3/4 text-center rounded-lg">
            <h1 class="text-white font-bold">{{countdown}}</h1>
          </div>
        </div>
        <vs-divider></vs-divider>

        <div class="vx-row px-4">
          <div class="vx-col lg:w-1/4 mb-3 cursor-pointer px-3" v-for="(pg, index) in dataPilihanGanda" :key="index" @click="moveToSoal('pg', index)">
            <div class="text-center rounded shadow-md py-1" :class="pg.jawaban || pg.jawaban === 0 ? 'bg-success' : ''">
              <h1>{{index + 1}}</h1>
              <!-- <h1>{{pg.jawaban || pg.jawaban === 0 ? alphabet[pg.jawaban] : index + 1}}</h1> -->
            </div>
          </div>
        </div>
        <vs-divider></vs-divider>
        <div class="vx-row px-4">
          <div class="vx-col lg:w-1/4 mb-3 cursor-pointer px-3" v-for="(essay, index) in dataEssay" :key="index" @click="moveToSoal('essay', index)">
            <div class="text-center rounded shadow-md py-1" v-if="essay.jawabanEssay" :class="essay.jawabanEssay ? 'bg-success' : ''">
              <h1>{{index + 1}}</h1>
            </div>
            <div class="text-center rounded shadow-md py-1" v-else>
              <h1>{{index + 1}}</h1>
            </div>
          </div>
        </div>
      </div>
    </vs-sidebar>
  </div>
</template>


<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
  name: 'v-nav-menu',
  components: {
    VuePerfectScrollbar
  },
  props: {
    logo:             { type: String },
    openGroupHover:   { type: Boolean, default: false },
    parent:           { type: String },
    reduceNotRebound: { type: Boolean, default: true },
    navMenuItems:     { type: Array,   required: true },
    title:            { type: String }
  },
  data () {
    return {
      clickNotClose       : false, // disable close navMenu on outside click
      isMouseEnter        : false,
      reduce              : false, // determines if navMenu is reduce - component property
      showCloseButton     : false, // show close button in smaller devices
      settings            : {      // perfectScrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed        : 1,
        swipeEasing       : true
      },
      showShadowBottom    : false,
      countdown           : '00:01',
      alphabet: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
    }
  },
  computed: {
    dataPilihanGanda ()         {
      return this.$store.getters['ujian/getUjian']
    },
    isGroupActive () {
      return (item) => {
        const path        = this.$route.fullPath
        const routeParent = this.$route.meta ? this.$route.meta.parent : undefined
        let open          = false

        const func = (item) => {
          if (item.submenu) {
            item.submenu.forEach((item) => {
              if (item.url && (path === item.url || routeParent === item.slug)) { open = true } else if (item.submenu) { func(item) }
            })
          }
        }
        func(item)
        return open
      }
    },
    menuItemsUpdated () {
      const clone = this.navMenuItems.slice()

      for (const [index, item] of this.navMenuItems.entries()) {
        if (item.header && item.items.length && (index || 1)) {
          const i = clone.findIndex(ix => ix.header === item.header)
          for (const [subIndex, subItem] of item.items.entries()) {
            clone.splice(i + 1 + subIndex, 0, subItem)
          }
        }
      }
      return clone
    },
    isVerticalNavMenuActive: {
      get ()    { return this.$store.state.isVerticalNavMenuActive },
      set (val) { this.$store.commit('TOGGLE_IS_VERTICAL_NAV_MENU_ACTIVE', val) }
    },
    layoutType () { return this.$store.state.mainLayoutType },
    reduceButton: {
      get ()    { return this.$store.state.reduceButton },
      set (val) { this.$store.commit('TOGGLE_REDUCE_BUTTON', val) }
    },
    isVerticalNavMenuReduced () { return Boolean(this.reduce && this.reduceButton) },
    verticalNavMenuItemsMin ()  { return this.$store.state.verticalNavMenuItemsMin },
    scrollbarTag ()             { return this.$store.getters.scrollbarTag          },
    windowWidth ()              { return this.$store.state.windowWidth             },
    dataUjian ()                { return this.$store.state.ujian.dataUjian         },
    dataEssay ()                { return this.$store.state.ujian.dataEssay         }
  },
  watch: {
    '$route' () {
      if (this.isVerticalNavMenuActive && this.showCloseButton) this.$store.commit('TOGGLE_IS_VERTICAL_NAV_MENU_ACTIVE', false)
    },
    reduce (val) {
      const verticalNavMenuWidth = val ? 'reduced' : this.$store.state.windowWidth < 1200 ? 'no-nav-menu' : 'default'
      this.$store.dispatch('updateVerticalNavMenuWidth', verticalNavMenuWidth)

      setTimeout(function () {
        window.dispatchEvent(new Event('resize'))
      }, 100)
    },
    layoutType ()   { this.setVerticalNavMenuWidth() },
    reduceButton () { this.setVerticalNavMenuWidth() },
    windowWidth ()  { this.setVerticalNavMenuWidth() },
    countdown: {
      handler () {
        const second = 1000,
          minute = second * 60,
          hour = minute * 60

        const selesai = this.$store.state.ujian.dataUjian.selesai,
          countDown = new Date(selesai).getTime()

        // const mulai = new Date(this.$store.state.ujian.dataUjian.mulai).getTime(),
        const mulai = new Date(),
          distance = countDown - mulai

        if (distance > 0) {
          setTimeout(() => {
            this.countdown = `${Math.floor((distance) / (hour))} : ${Math.floor((distance % (hour)) / (minute))} : ${Math.floor((distance % (minute)) / (second))}`
          }, 1000)
        }


        // this.countdown = setInterval(() => {
        //   const second = 1000,
        //     minute = second * 60,
        //     hour = minute * 60

        //   const selesai = this.dataUjian.selesai,
        //     countDown = new Date(selesai).getTime()

        //   const mulai = new Date(this.dataUjian.mulai).getTime(),
        //     distance = countDown - mulai

        //   return `${Math.floor((distance) / (hour))} : ${Math.floor((distance % (hour)) / (minute))}`
        // }, 1000)

        if(distance < 1) {
          this.$vs.notify({
            title: 'Selamat!',
            text: 'Waktu ujian anda telah habis',
            color: 'success',
            position: 'top-right'
          })

          setTimeout(() => {
            this.$router.push('/ujian')
          }, 1000)
        }
        console.log('Distance', distance)
        console.log('Countdown', this.countdown)
      },
      immediate: true
    }
  },
  methods: {
    onMenuSwipe (event) {
      if (event.direction === 4 && this.$vs.rtl) {

        // Swipe Right
        if (this.isVerticalNavMenuActive && this.showCloseButton) this.isVerticalNavMenuActive = false

      } else if (event.direction === 2 && !this.$vs.rtl) {

        // Swipe Left
        if (this.isVerticalNavMenuActive && this.showCloseButton) this.isVerticalNavMenuActive = false
      }
    },
    onSwipeAreaSwipe (event) {

      if (event.direction === 4 && !this.$vs.rtl) {

        // Swipe Right
        if (!this.isVerticalNavMenuActive && this.showCloseButton) this.isVerticalNavMenuActive = true
      } else if (event.direction === 2 && this.$vs.rtl) {

        // Swipe Left
        if (!this.isVerticalNavMenuActive && this.showCloseButton) this.isVerticalNavMenuActive = true
      }
    },
    psSectionScroll () {
      const scroll_el = this.$refs.verticalNavMenuPs.$el || this.$refs.verticalNavMenuPs
      this.showShadowBottom = scroll_el.scrollTop > 0
    },
    mouseEnter () {
      if (this.reduce) this.$store.commit('UPDATE_VERTICAL_NAV_MENU_ITEMS_MIN', false)
      this.isMouseEnter = true
    },
    mouseLeave () {
      if (this.reduce) this.$store.commit('UPDATE_VERTICAL_NAV_MENU_ITEMS_MIN', true)
      this.isMouseEnter = false
    },
    setVerticalNavMenuWidth () {
      if (this.windowWidth > 1200) {
        if (this.layoutType === 'vertical') {

          // Set reduce
          this.reduce = !!this.reduceButton

          // Open NavMenu
          this.$store.commit('TOGGLE_IS_VERTICAL_NAV_MENU_ACTIVE', true)

          // Set Menu Items Only Icon Mode
          const verticalNavMenuItemsMin = !!(this.reduceButton && !this.isMouseEnter)
          this.$store.commit('UPDATE_VERTICAL_NAV_MENU_ITEMS_MIN', verticalNavMenuItemsMin)

          // Menu Action buttons
          this.clickNotClose   = true
          this.showCloseButton = false

          const verticalNavMenuWidth   = this.isVerticalNavMenuReduced ? 'reduced' : 'default'
          this.$store.dispatch('updateVerticalNavMenuWidth', verticalNavMenuWidth)

          return
        }
      }

      // Close NavMenu
      this.$store.commit('TOGGLE_IS_VERTICAL_NAV_MENU_ACTIVE', false)

      // Reduce button
      if (this.reduceButton) this.reduce = false

      // Menu Action buttons
      this.showCloseButton = true
      this.clickNotClose   = false

      // Update NavMenu Width
      this.$store.dispatch('updateVerticalNavMenuWidth', 'no-nav-menu')

      // Remove Only Icon in Menu
      this.$store.commit('UPDATE_VERTICAL_NAV_MENU_ITEMS_MIN', false)
    },
    toggleReduce (val) {
      this.reduceButton = val
      this.setVerticalNavMenuWidth()
    },
    moveToSoal (type, index) {
      if (type === 'pg') {
        this.$store.dispatch('ujian/setCurrentPg', index + 1)
        this.$store.dispatch('ujian/setCurrentEssay', 1)
        this.$store.dispatch('ujian/setIsPg', true)
        this.$store.dispatch('ujian/setIsEssay', false)
      } else if (type === 'essay') {
        this.$store.dispatch('ujian/setCurrentEssay', index + 1)
        this.$store.dispatch('ujian/setCurrentPg', 1)
        this.$store.dispatch('ujian/setIsEssay', true)
        this.$store.dispatch('ujian/setIsPg', false)
      }
    }
  },
  mounted () {
    this.setVerticalNavMenuWidth()
  }
}

</script>


<style lang="scss">
@import "@/assets/scss/vuexy/components/verticalNavMenu.scss"
</style>
