<template>
  <div id="pendaftaran">
    <h2>Pendaftaran Gelombang 1</h2>
    <vx-card title="Data Calon Siswa" class="mt-10">
      <div class="vx-row">
        <div class="vx-col w-full mb-2">
          <vs-input class="w-full" name="nama" v-validate="'required'" icon-pack="feather" icon="icon-user" icon-no-border label-placeholder="Nama Lengkap" v-model="nama" />
          <span class="text-danger text-sm" v-show="errors.has('nama')">{{ errors.first('nama') }}</span>
        </div>
      </div>
       <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full mb-2">
          <vs-input class="w-full" name="email" v-validate="'required'" icon-pack="feather" icon="icon-mail" icon-no-border label-placeholder="Email" v-model="email" />        
          <span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>
        </div>
        <div class="vx-col sm:w-1/2 w-full mb-2">
          <vs-input class="w-full" name="hp" v-validate="'required'" icon-pack="feather" icon="icon-phone" icon-no-border label-placeholder="No Telepon / Hp" v-model="hp" />
          <span class="text-danger text-sm" v-show="errors.has('hp')">{{ errors.first('hp') }}</span>
        </div>
      </div>
      <vs-divider></vs-divider>
      <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full mb-2">
          <vs-input class="w-full" type="password" v-validate="'required'" ref="password" placeholder="Your Password" name="password" icon-pack="feather" icon="icon-lock" icon-no-border label-placeholder="Password" v-model="password" />
          <span class="text-danger text-sm" v-show="errors.has('password')">{{ errors.first('password') }}</span>
        </div>
        <div class="vx-col sm:w-1/2 w-full mb-2">
          <vs-input class="w-full" type="password" v-validate="'required|confirmed:password'" data-vv-as="password" placeholder="Confirm Password" name="confirm_password" icon-pack="feather" icon="icon-lock" icon-no-border label-placeholder="Konfirmasi Password" v-model="confirm_password" />
          <span class="text-danger text-sm" v-show="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</span>
        </div>
      </div>
      <div class="vx-row mt-6">
        <div class="vx-col w-full">
          <vs-button class="mr-3 mb-2" @click="handleDaftar">Daftar</vs-button>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import pendaftaran from '@/http/requests/others/pendaftaran'
import store from '@/store/store.js'

export default {
  data () {
    return {
      nama: '',
      email: '',
      hp: '',
      password: '',
      confirm_password: ''
    }
  },
  methods: {
    handleDaftar () {
      const sekolahId = store.getters['server/getServer'].sekolah.id
      const data = {
        nama_siswa: this.nama,
        email: this.email,
        no_telp: this.hp,
        password: this.password,
        sekolah_id: sekolahId,
        gelombang_id: this.$route.params.gelombang_id,
        status: 0
      }

      this.$validator.validateAll().then(result => {
        if (result) {
          pendaftaran.sendPendaftaran(data).then(res => {
            console.log(res)
            this.$router.push('/login')
          }).catch(err => console.log(err))
        } else {
          // form have errors
          alert('Lengkapi Data WOYYY')
        }
      })
    }
  }
}
</script>
         