<template>
  <vs-alert :icon="icon" active="true" :color="color" class="my-5 bg-red-300 bg-opacity-75">
    {{ alertText }} <br/>
  </vs-alert>
</template>

<script>

export default {
  props: {
    alertText: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: 'danger'
    },
    icon: {
      type: String,
      default: 'danger'
    }
  },
  data () {
    return {

    }
  }
}
</script>
