<template>
  <div id="daftar">
    <h2>Informasi Pendaftaran</h2>
    <div class="vx-row my-5">
      <div class="vx-col w-full md:w-1/2 my-5" v-for="(item, index) in dataGelombang" :key="index">
        <vx-card :title="item.nama_gelombang">
          <p>{{item.keterangan}}</p>
          <div class="flex mt-4 items-center gap-2">
            <h5>Proses {{item.proses.nama_proses}}</h5>
            <vs-chip color="success">{{item.proses.kode}}</vs-chip>
          </div>
          <p>{{item.proses.keterangan}}</p>
          <vs-divider></vs-divider>
          <div class="flex justify-between mb-4">
            <div class="flex items-center gap-2">
              <feather-icon icon="CalendarIcon" class="w-4 h-4"></feather-icon>
              <small>Tanggal Mulai</small>
              <b>{{item.tanggal_mulai.substr(0, 10)}}</b> -
              <small>Tanggal Selesai</small>
              <b>{{item.tanggal_selesai.substr(0, 10)}}</b>
            </div>
            <div>
              <small>Kapasitas peserta: <b>{{item.kapasitas}}</b></small>
            </div>
          </div>
          <vs-alert active="true" color="warning" icon-pack="feather" icon="icon-alert-triangle" v-if="thisOpen(item.tanggal_mulai, item.tanggal_selesai) === 'notopen'">
            Pendaftaran pada {{item.nama_gelombang}} Belum Dibuka!
          </vs-alert>

          <vs-alert active="true" color="danger" icon-pack="feather" icon="icon-alert-triangle" v-if="thisOpen(item.tanggal_mulai, item.tanggal_selesai) === 'closed'">
            Pendaftaran pada {{item.nama_gelombang}} Telah Selesai!
          </vs-alert>
        
          <vs-button class="w-full" @click="$router.push({name: 'pendaftaran', params: {gelombang_id: '1'}}).catch(() => {})" v-if="thisOpen(item.tanggal_mulai, item.tanggal_selesai) === 'open'">Daftar</vs-button>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import VxTimeline from '@/components/timeline/VxTimeline'
import gelombang from '@/http/requests/others/gelombang'
import store from '@/store/store.js'

export default {
  created () {
    this.$store.commit('UPDATE_MAIN_LAYOUT_TYPE', 'horizontal')
    const sekolahId = store.getters['server/getServer'].sekolah.id
    gelombang.getGelombang(sekolahId).then(res => {
      console.log(res.data)
      this.dataGelombang = res.data
    }).catch(err => console.log(err))
  },
  components: {
    VxTimeline
  },
  data () {
    return {
      dataGelombang: [],
      isOpen: ''
    }
  },
  methods: {
    thisOpen (tanggal_awal, tanggal_akhir) {
      const dateNow = new Date()
      const dateFirst = new Date(tanggal_awal) - dateNow
      const dateLast = new Date(tanggal_akhir) - dateNow

      if (dateFirst >= 0) {
        return 'notopen'
      } else if (dateLast <= 0) {
        return 'closed'
      } else if (dateFirst <= 0 && dateLast >= 0) {
        return 'open'
      }

    }
  }
}
</script>