<template>
  <div id="home">
    <div class="vx-row">
      <div class="vx-col w-full">
        <swiper :options="swiperOption" :dir="$vs.rtl ? 'rtl' : 'ltr'" :key="$vs.rtl">
          <swiper-slide>
            <img class="responsive" src="@/assets/images/pages/carousel/banner-16.jpg" alt="banner">
          </swiper-slide>
          <swiper-slide>
            <img class="responsive" src="@/assets/images/pages/carousel/banner-13.jpg" alt="banner">
          </swiper-slide>
          <swiper-slide>
            <img class="responsive" src="@/assets/images/pages/carousel/banner-4.jpg" alt="banner">
          </swiper-slide>
          <swiper-slide>
            <img class="responsive" src="@/assets/images/pages/carousel/banner-2.jpg" alt="banner">
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
          <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
          <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
        </swiper>
      </div>
      <div class="vx-col w-full">
         <div class="py-24 mb-16 mt-10 text-center item-features">
            <div class="vx-row">
              <div class="vx-col md:w-1/3 w-full">
                <div class="w-64 mx-auto mb-16 md:mb-0">
                  <feather-icon icon="AwardIcon" svgClasses="h-12 w-12 text-primary stroke-current" class="block mb-4" />
                  <span class="font-semibold text-lg">100% Original</span>
                  <p class="mt-2">Chocolate bar candy canes ice cream toffee cookie halvah.</p>
                </div>
              </div>
              <div class="vx-col md:w-1/3 w-full">
                <div class="w-64 mx-auto mb-16 md:mb-0">
                  <feather-icon icon="ClockIcon" svgClasses="h-12 w-12 text-primary stroke-current" class="block mb-4" />
                  <span class="font-semibold text-lg">10 Day Replacement</span>
                  <p class="mt-2">Marshmallow biscuit donut dragée fruitcake wafer.</p>
                </div>
              </div>
              <div class="vx-col md:w-1/3 w-full">
                <div class="w-64 mx-auto">
                  <feather-icon icon="ShieldIcon" svgClasses="h-12 w-12 text-primary stroke-current" class="block mb-4" />
                  <span class="font-semibold text-lg">1 Year Warranty</span>
                  <p class="mt-2">Cotton candy gingerbread cake I love sugar sweet.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="vx-col w-full flex justify-center">
      <div class="vx-col w-full md:w-1/2 md:text-center">
        <h1>Nama Sekolah atau Branding</h1>
        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eum laborum, soluta veniam est neque iusto consectetur optio voluptatibus et architecto cumque dolor nihil?</p>
      </div>
    </div>
    <div class="vx-col w-full flex flex-col gap-3 items-center my-8">
      <div class="vx-col w-full md:w-1/2">
        <vx-card>
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora autem cupiditate, placeat perspiciatis tenetur illo eum quasi ea repellendus facilis voluptas, inventore aut eligendi aliquid ipsum sed aperiam illum consectetur quam!</p>
        </vx-card>
      </div>
      <div class="vx-col w-full md:w-1/2">
        <vx-card>
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora autem cupiditate, placeat perspiciatis tenetur illo eum quasi ea repellendus facilis voluptas, inventore aut eligendi aliquid ipsum sed aperiam illum consectetur quam!</p>
        </vx-card>
      </div>
      <div class="vx-col w-full md:w-1/2">
        <vx-card>
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora autem cupiditate, placeat perspiciatis tenetur illo eum quasi ea repellendus facilis voluptas, inventore aut eligendi aliquid ipsum sed aperiam illum consectetur quam!</p>
        </vx-card>
      </div>
      <div class="vx-col w-full md:w-1/2">
        <vx-card>
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora autem cupiditate, placeat perspiciatis tenetur illo eum quasi ea repellendus facilis voluptas, inventore aut eligendi aliquid ipsum sed aperiam illum consectetur quam!</p>
        </vx-card>
      </div>
    </div>

    <div class="vx-col w-full flex justify-center mt-24">
      <div class="vx-col w-full md:w-1/2 md:text-center">
        <h1>Nama Sekolah atau Branding</h1>
        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eum laborum, soluta veniam est neque iusto consectetur optio voluptatibus et architecto cumque dolor nihil?</p>
      </div>
    </div>

    <div class="vx-col w-full mt-12 md:px-24">
      <vs-collapse accordion>

        <vs-collapse-item>
          <div slot="header">
            Collapse item
          </div>
          Lorem...metus.
        </vs-collapse-item>

        <vs-collapse-item>
          <div slot="header">
            Collapse item 2
          </div>
          Nunc...maximus.
        </vs-collapse-item>

        <vs-collapse-item>
          <div slot="header">
            Collapse item 3
          </div>
          Suspendisse...eu
        </vs-collapse-item>

        <vs-collapse-item>
          <div slot="header">
            Collapse item 4
          </div>
          Suspendisse...finibus.
        </vs-collapse-item>
      </vs-collapse>
    </div>

    <div class="vx-col w-full bg-primary p-12 text-white md:text-center rounded mt-12">
      <h1 class="text-white">Nama Sekolah atau Branding</h1>
      <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eum laborum, soluta veniam est neque iusto consectetur optio voluptatibus et architecto cumque dolor nihil?</p>
      <vs-button color="success" size="large" type="gradient" class="mt-6">Daftar Sekarang</vs-button>
    </div>

  </div>
</template>

<script>
import 'swiper/dist/css/swiper.min.css'
import domain from '@/http/requests/domain'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  created () {
    this.$store.commit('UPDATE_MAIN_LAYOUT_TYPE', 'horizontal')
    domain.domainSiswa().then(res => {
      this.$store.dispatch('server/setDataServer', res.data[0])
    }).catch(err => console.log(err))
  },
  data () {
    return {
      swiperOption: {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },
  components: {
    swiper,
    swiperSlide
  }
}

</script>