<template>
  <div class="the-navbar__user-meta flex items-center" v-if="activeUserData.nama_siswa">

    <div class="text-right leading-tight hidden sm:block">
      <p class="font-semibold">{{ activeUserData.nama_siswa }}</p>
      <small>{{ activeUserData.sekolah.nama_sekolah }}, KELAS {{ activeUserData.kelas ? activeUserData.kelas.kelas : '-'  }}</small>
    </div>

    <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">

      <div class="con-img ml-3">
        <img v-if="!activeUserImage" key="onlineImg" src="@/assets/images/logo/default.png" alt="user-img" width="40" height="40" class="rounded-full shadow-md cursor-pointer block" />
        <img v-else key="onlineImg" :src="apiFile + '/' + activeUserImage" alt="user-img" width="40" height="40" class="rounded-full shadow-md cursor-pointer block" />
      </div>

      <vs-dropdown-menu class="vx-navbar-dropdown">
        <ul style="min-width: 9rem">
          <li
            class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
            @click="$router.push('/profile').catch(() => {})">
            <feather-icon icon="UserIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Profile</span>
          </li>
          <li
            class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
            @click="$router.push('/data-pendaftaran').catch(() => {})">
            <feather-icon icon="SmileIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Biodata</span>
          </li>
          <vs-divider class="m-1" />
          <li
            class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
            @click="confirmLogout">
            <feather-icon icon="LogOutIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Logout</span>
          </li>
        </ul>
      </vs-dropdown-menu>
    </vs-dropdown>
  </div>
</template>

<script>

export default {
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
    activeUserData () {
      return JSON.parse(sessionStorage.getItem('user'))
    },
    activeUserImage () {
      const user = JSON.parse(sessionStorage.getItem('user'))
      console.log('File', user.user_siswa)
      return user.user_siswa.photo ? user.user_siswa.photo.file : ''
    },
    apiFile () {
      return this.$store.state.server.server.domain_storage
    }
  },
  methods: {
    confirmLogout () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Logout',
        text: 'Apakah anda yakin akan keluar dari akun anda?',
        accept: this.logout
      })
    },
    logout () {
      sessionStorage.clear()
      localStorage.clear()
      // This is just for demo Purpose. If user clicks on logout -> redirect
      this.$store.commit('user/SET_DATA_USER', {})
      this.$store.dispatch('ujian/setDataPilihanGanda', [])
      this.$store.dispatch('ujian/setDataEssay', [])
      this.$store.dispatch('ujian/setDataUjian', [])
      this.$store.dispatch('ujian/setJawabanPilihanGanda', [])
      this.$store.dispatch('ujian/setNowUjian', {})
      this.$router.push('/login').catch(() => {})
    }
  }
}
</script>
