<template>
  <div id="data-pendaftaran">
    <vx-card title="Data Pendaftaran Peserta Didik">
      <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null" finishButtonText="Submit">
        <tab-content title="Identitas" class="mb-5" icon="feather icon-user" :before-change="formIdentitasSubmitted">
          <div class="vx-row">
            <div class="vx-col md:w-1/2 w-full mt-5">
                <vs-input label="Nama Lengkap" v-model="identitas.nama_lengkap" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
                <vs-input label="Nama Panggilan"  v-model="identitas.nama_panggilan" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="identitas.jenis_kelamin" class="w-full select-large" label="Jenis Kelamin">
                <vs-select-item :key="index" :value="item.nama" :text="item.nama" v-for="(item,index) in jenis_kelamin" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="identitas.agama" class="w-full select-large" label="Agama">
                <vs-select-item :key="index" :value="item.nama" :text="item.nama" v-for="(item,index) in agama" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Tempat Lahir" v-model="identitas.tempat_lahir" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Tanggal Lahir" type="date" v-model="identitas.tanggal_lahir" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <div class="demo-alignment">
                <label>Berkebutuhan Khusus</label>
                <ul class="flex gap-4 items-center">
                  <li>
                    <vs-radio v-model="identitas.berkebutuhan_khusus.status" vs-value="ya">Ya</vs-radio>
                  </li>
                  <li>
                    <vs-radio v-model="identitas.berkebutuhan_khusus.status" vs-value="tidak">Tidak</vs-radio>
                  </li>
                </ul>
              </div>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="identitas.berkebutuhan_khusus.status === 'ya'">
              <vs-input label="Berkebutuhan Khusus (Sebutkan)" v-model="identitas.berkebutuhan_khusus.nama" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="NISN" v-model="identitas.nisn" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Nomor Seri Izasah" v-model="identitas.nomor_ijazah" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Nomor Seri SKHUN" v-model="identitas.nomor_skhun" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="No Ujian Nasional" v-model="identitas.nomor_un" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="No Induk Kependudukan (NIK)" v-model="identitas.nik" class="w-full" />
            </div>
            <vs-divider></vs-divider>
            <div class="vx-col w-full mt-5">
              <vs-textarea label="Alamat Tempat Tinggal" v-model="identitas.alamat" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="identitas.provinsi" class="w-full select-large" label="Provinsi" @change="getDistricts()">
                <vs-select-item :key="item.id" :value="item.id" :text="item.nama_provinsi" v-for="(item) in provinsi" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="identitas.kabupaten_kota" class="w-full select-large" label="Kabupaten/Kota" @change="getSubDistricts()" :disabled="kabupaten_kota.length === 0">
                <vs-select-item :key="index" :value="item.id" :text="item.nama_kabupaten" v-for="(item,index) in kabupaten_kota" class="w-full"/>
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="identitas.kecamatan" class="w-full select-large" label="Kecamatan" @change="getVillages()" :disabled="identitas.kabupaten_kota === ''">
                <vs-select-item :key="index" :value="item.id" :text="item.nama_kecamatan" v-for="(item,index) in kecamatan" class="w-full"/>
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="identitas.kelurahan_desa" class="w-full select-large" label="Kelurahan/Desa" :disabled="identitas.kecamatan === ''">
                <vs-select-item :key="index" :value="item.id" :text="item.nama_desa" v-for="(item,index) in kelurahan_desa" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/4 w-full mt-5">
              <vs-input label="RT" v-model="identitas.rt" class="w-full" />
            </div>
            <div class="vx-col md:w-1/4 w-full mt-5">
              <vs-input label="RW" v-model="identitas.rw" class="w-full" />
            </div>
            <vs-divider></vs-divider>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="identitas.transportasi_sekolah.nama" class="w-full select-large" label="Alat Transportasi ke Sekolah">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in transportasi_sekolah" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="identitas.transportasi_sekolah.nama === 7" >
              <vs-input label="(Lainnya Sebutkan)" v-model="identitas.transportasi_sekolah.lainnya" class="w-full"/>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="identitas.jenis_tinggal.nama" class="w-full select-large" label="Jenis Tinggal">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in jenis_tinggal" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5"  v-show="identitas.jenis_tinggal.nama === 'bersama wali'">
              <vs-input label="(Bersama Wali sebutkan hubungan Keluarga)" v-model="identitas.jenis_tinggal.lainnya" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="No Telepon Rumah" v-model="identitas.telepon" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="No Hp" v-model="identitas.hp" class="w-full" />
            </div>
            <div class="vx-col w-full mt-5">
              <vs-input label="Email Pribadi" v-model="identitas.email" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5 flex items-center">
              <vs-checkbox v-model="identitas.penerima_kps.status">Apakah Sebagai Penerima KPS</vs-checkbox>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="identitas.penerima_kps.status">
              <vs-input label="No KPS" v-model="identitas.penerima_kps.nama" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="No KIP" v-model="identitas.no_kip" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="No KKS" v-model="identitas.no_kks" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Cita-cita" v-model="identitas.cita_cita.nama" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="identitas.cita_cita.nama === 'lainnya'">
              <vs-input label="(Lainnya sebutkan)" v-model="identitas.cita_cita.lainnya" class="w-full" />
            </div>
            <vs-divider></vs-divider>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="lainnya.jenis_pendaftaran" class="w-full select-large" label="Jenis Pendaftaran">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in jenis_pendaftaran" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="lainnya.jalur_masuk" class="w-full select-large" label="Jalur Masuk">
                <vs-select-item :key="index" :value="item.id" :text="item.nama_jalur" v-for="(item,index) in jalur_masuk" class="w-full" disabled />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="lainnya.program" class="w-full select-large" label="Jurusan">
                <vs-select-item :key="index" :value="item.id" :text="item.nama_jurusan" v-for="(item,index) in program" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Tanggal" type="date" v-model="lainnya.tanggal" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Angkatan</small>
              <datepicker format="yyyy" minimum-view="year" v-model="lainnya.angkatan"></datepicker>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Photo" type="file" v-model="lainnya.foto" class="w-full" />
            </div>
          </div>
        </tab-content>

        <!-- tab 2 content -->
        <tab-content title="Orang Tua / Wali" class="mb-5" icon="feather icon-users" :before-change="formParentSubmitted">
          <div class="vx-row">
            <div class="vx-col w-full mt-5">
              <h2>Data Ayah Kandung</h2>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Nama Ayah" v-model="orangtua_wali.ayah.nama" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Tahun Lahir" type="date" v-model="orangtua_wali.ayah.tahun_lahir" class="w-full" />
            </div>
            <div class="vx-col w-full mt-5">
              <vs-textarea label="Alamat Lengkap Orang Tua" v-model="orangtua_wali.ayah.alamat" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="No Hp" v-model="orangtua_wali.ayah.hp" class="w-full" />
            </div>
            <div class="vx-col md:w-1/4 w-full mt-5 flex items-center">
              <vs-checkbox v-model="orangtua_wali.ayah.almarhum">Almarhum</vs-checkbox>
            </div>
            <div class="vx-col md:w-1/4 w-full mt-5 flex items-center">
              <vs-checkbox v-model="orangtua_wali.ayah.berkebutuhan_khusus.status">Berkebutuhan Khusus</vs-checkbox>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="orangtua_wali.ayah.berkebutuhan_khusus.status">
              <vs-input label="Berkebutuhan Khusus (Sebutkan)" v-model="orangtua_wali.ayah.berkebutuhan_khusus.nama" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.ayah.pekerjaan.nama" class="w-full select-large" label="Pekerjaan Ayah">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in pekerjaan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="orangtua_wali.ayah.pekerjaan.nama === 13">
              <vs-input label="(Lainnya Sebutkan)" v-model="orangtua_wali.ayah.pekerjaan.lainnya" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.ayah.pendidikan" class="w-full select-large" label="Pendidikan Ayah">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in pendidikan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.ayah.penghasilan.nama" class="w-full select-large" label="Penghasilan Ayah Bulanan">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in penghasilan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="orangtua_wali.ayah.penghasilan.nama === 6">
              <vs-input label="(Lainnya Sebutkan)" v-model="orangtua_wali.ayah.penghasilan.lainnya" class="w-full" />
            </div>

            <vs-divider></vs-divider>
            <div class="vx-col w-full mt-5">
              <h2>Data Ibu Kandung</h2>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Nama Ibu" v-model="orangtua_wali.ibu.nama" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Tahun Lahir" type="date" v-model="orangtua_wali.ibu.tahun_lahir" class="w-full" />
            </div>
            <div class="vx-col w-full mt-5">
              <vs-textarea label="Alamat Lengkap Orang Tua" v-model="orangtua_wali.ibu.alamat" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="No Hp" v-model="orangtua_wali.ibu.hp" class="w-full" />
            </div>
            <div class="vx-col md:w-1/4 w-full mt-5 flex items-center">
              <vs-checkbox v-model="orangtua_wali.ibu.almarhum">Almarhum</vs-checkbox>
            </div>
            <div class="vx-col md:w-1/4 w-full mt-5 flex items-center">
              <vs-checkbox v-model="orangtua_wali.ibu.berkebutuhan_khusus.status">Berkebutuhan Khusus</vs-checkbox>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="orangtua_wali.ibu.berkebutuhan_khusus.status">
              <vs-input label="Berkebutuhan Khusus (Sebutkan)" v-model="orangtua_wali.ibu.berkebutuhan_khusus.nama" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.ibu.pekerjaan.nama" class="w-full select-large" label="Pekerjaan Ibu">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in pekerjaan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="orangtua_wali.ibu.pekerjaan.nama === 13">
              <vs-input label="(Lainnya Sebutkan)" v-model="orangtua_wali.ibu.pekerjaan.lainnya" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.ibu.pendidikan" class="w-full select-large" label="Pendidikan Ibu">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in pendidikan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.ibu.penghasilan.nama" class="w-full select-large" label="Penghasilan Ibu Bulanan">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in penghasilan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="orangtua_wali.ibu.penghasilan.nama === 6">
              <vs-input label="(Lainnya Sebutkan)" v-model="orangtua_wali.ibu.penghasilan.lainnya" class="w-full" />
            </div>

            <vs-divider></vs-divider>
            <div class="vx-col w-full mt-5">
              <h2>Data Wali</h2>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Nama Wali" v-model="orangtua_wali.wali.nama" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-input label="Tahun Lahir" type="date" v-model="orangtua_wali.wali.tahun_lahir" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.wali.pekerjaan.nama" class="w-full select-large" label="Pekerjaan Wali">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in pekerjaan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="orangtua_wali.wali.pekerjaan.nama === 13">
              <vs-input label="(Lainnya Sebutkan)" v-model="orangtua_wali.wali.pekerjaan.lainnya" class="w-full" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.wali.pendidikan" class="w-full select-large" label="Pendidikan Wali">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in pendidikan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="orangtua_wali.wali.penghasilan.nama" class="w-full select-large" label="Penghasilan Wali Bulanan">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in penghasilan" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5" v-show="orangtua_wali.wali.penghasilan.nama === 6">
              <vs-input label="(Lainnya Sebutkan)" v-model="orangtua_wali.wali.penghasilan.lainnya" class="w-full" />
            </div>
          </div>
        </tab-content>

        <!-- tab 3 content -->
        <tab-content title="Data Periodik" class="mb-5" icon="feather icon-clipboard" :before-change="formPeriodikSubmitted">
          <div class="vx-row">
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Tinggi Badan</small>
              <vx-input-group>
                <vs-input type="number" v-model="periodik.tinggi"/>
                <template slot="append">
                  <div class="append-text bg-primary">
                    <span>CM</span>
                  </div>
                </template>
              </vx-input-group>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Berat Badan</small>
              <vx-input-group>
                <vs-input type="number" v-model="periodik.berat"/>
                <template slot="append">
                  <div class="append-text bg-primary">
                    <span>KG</span>
                  </div>
                </template>
              </vx-input-group>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <vs-select v-model="periodik.golongan_darah" class="w-full select-large" label="Golongan Darah">
                <vs-select-item :key="index" :value="item.id" :text="item.nama" v-for="(item,index) in golongan_darah" class="w-full" />
              </vs-select>
            </div>
            <div class="vx-col md:w-1/2 w-full">
              <vs-input label="File Fotocopy" type="file" v-model="periodik.file" class="w-full mt-5" />
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Jarak tempat tinggal ke Sekolah</small>
              <vx-input-group>
                <vs-input type="number" v-model="periodik.jarak_sekolah.nama"/>
                <template slot="append">
                  <div class="append-text bg-primary">
                    <span>Meter</span>
                  </div>
                </template>
              </vx-input-group>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Lebih dari 1KM</small>
              <vx-input-group>
                <vs-input type="number" v-model="periodik.jarak_sekolah.nama"/>
                <template slot="append">
                  <div class="append-text bg-primary">
                    <span>KM</span>
                  </div>
                </template>
              </vx-input-group>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Waktu tempuh berangkat ke sekolah</small>
              <vx-input-group>
                <vs-input type="number" v-model="periodik.waktu_tempuh.nama"/>
                <template slot="append">
                  <div class="append-text bg-primary">
                    <span>Menit</span>
                  </div>
                </template>
              </vx-input-group>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Lebih dari 60Menit sebutkan</small>
              <vx-input-group>
                <vs-input type="number" v-model="periodik.waktu_tempuh.nama"/>
                <template slot="append">
                  <div class="append-text bg-primary">
                    <span>Jam</span>
                  </div>
                </template>
              </vx-input-group>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Saudara Kandung</small>
              <vx-input-group class="mb-base">
                <vs-input v-validate="'numeric'" type="number" v-model="periodik.saudara_kandung"/>
                <span class="text-danger text-sm" v-show="errors.has('numeric')">{{ errors.first('numeric') }}</span>
                <template slot="append">
                  <div class="append-text bg-primary">
                    <span>Saudara</span>
                  </div>
                </template>
              </vx-input-group>
            </div>
            <div class="vx-col md:w-1/2 w-full mt-5">
              <small>Lingkar Kepala</small>
              <vx-input-group class="mb-base" label="Lingkar Kepala">
                <vs-input v-validate="'numeric'" type="number" v-model="periodik.lingkar_kepala"/>
                <span class="text-danger text-sm" v-show="errors.has('numeric')">{{ errors.first('numeric') }}</span>
                <template slot="append">
                  <div class="append-text bg-primary">
                    <span>CM</span>
                  </div>
                </template>
              </vx-input-group>
            </div>
          </div>
        </tab-content>

        <tab-content title="Prestasi / Beasiswa" class="mb-5" icon="feather icon-award" :before-change="formPrestationSubmitted">
          <div class="vx-row">
            <div class="vx-col w-full mt-5 flex items-center justify-between">
              <h2>Catatan Prestasi</h2>
              <vs-button icon-pack="feather" icon="icon-plus" size="small" @click="handleAddPrestasi">Tambah Prestasi</vs-button>
            </div>

            <div class="vx-col vx-row w-full" v-for="(item, index) in prestasi_beasiswa.prestasi" :key="index">
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Jenis Prestasi" v-model="item.jenis" class="w-full mt-5" />
              </div>
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Tingkat" v-model="item.tingkat" class="w-full mt-5" />
              </div>
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Nama Prestasi" v-model="item.nama" class="w-full mt-5" />
              </div>
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Tahun" type="date" v-model="item.tahun" class="w-full mt-5" />
              </div>
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Penyelenggara" v-model="item.penyelenggara" class="w-full mt-5" />
              </div>
              <vs-divider></vs-divider>
            </div>

            <div class="vx-col w-full mt-5 flex items-center justify-between">
              <h2>Catatan Beasiswa</h2>
              <vs-button icon-pack="feather" icon="icon-plus" size="small" @click="handleAddBeasiswa">Tambah Beasiswa</vs-button>
            </div>

            <div class="vx-col vx-row w-full" v-for="(item, index) in prestasi_beasiswa.beasiswa" :key="index + Math.random()">
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Jenis Beasiswa" v-model="item.jenis" class="w-full mt-5" />
              </div>
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Penyelenggara / Sumber" v-model="item.penyelenggara" class="w-full mt-5" />
              </div>
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Tahun Mulai" type="date" v-model="item.tahun.mulai" class="w-full mt-5" />
              </div>
              <div class="vx-col md:w-1/2 w-full">
                <vs-input label="Tahun Selesai" type="date" v-model="item.tahun.selesai" class="w-full mt-5" />
              </div>
              <vs-divider></vs-divider>
            </div>
          </div>
        </tab-content>
      </form-wizard>
    </vx-card>
  </div>
</template>

<script>
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import Datepicker from 'vuejs-datepicker'
import siswa from '@/http/requests/siswa'
import area from '@/http/requests/others/area'
import jalur from '@/http/requests/others/jalur'
import jurusan from '@/http/requests/others/jurusan'

export default {
  created () {
    this.$store.commit('UPDATE_MAIN_LAYOUT_TYPE', 'vertical')
    this.$store.commit('TOGGLE_REDUCE_BUTTON', true)
    siswa.getNewSiswa().then(res => {
      const data = res.data[0]
      console.log('DATA', data)
      const identitas = this.identitas
      const lainnya = this.lainnya

      identitas.nama_lengkap = data.nama_siswa
      identitas.nama_panggilan = data.nama_panggilan
      identitas.jenis_kelamin = data.jenis_kelamin
      identitas.agama = data.agama
      identitas.tempat_lahir = data.tempat_lahir
      identitas.tanggal_lahir = data.tanggal_lahir
      identitas.nisn = data.nisn
      identitas.nomor_ijazah = data.nomor_ijazah
      identitas.nomor_skhun = data.nomor_skhun
      identitas.nomor_un = data.nomor_un
      identitas.nik = data.nik
      identitas.alamat = data.alamat_tinggal
      identitas.rt = data.rt
      identitas.rw = data.rw
      identitas.transportasi_sekolah.nama = data.transportasi_id
      identitas.jenis_tinggal.nama = data.tinggal_id
      identitas.telepon = data.telp_rumah
      identitas.hp = data.user_siswa.no_telp
      identitas.email = data.user_siswa.email
      identitas.penerima_kps.status = !!data.nomor_kps
      identitas.penerima_kps.nama = data.nomor_kps
      identitas.no_kip = data.nomor_kip
      identitas.cita_cita.nama = data.cita_lainnya
      identitas.program = data.jurusan
      lainnya.tanggal = data.tanggal_daftar
      lainnya.angkatan = data.tahun_masuk
      
    }).catch(err => console.log(err))

    area.getProvince().then(res => {
      console.log(res.data)
      this.provinsi = res.data
    }).catch(err => console.log(err))

    jalur.getJalur().then(res => {
      this.jalur_masuk = res.data
    }).catch(err => console.log(err))

    jurusan.getJurusan().then(res => {
      console.log('JURUSAN', res)
      this.program = res.data
    }).catch(err => console.log(err))
  },
  data () {
    return {
      identitas: {
        nama_lengkap: '',
        nama_panggilan: '',
        jenis_kelamin: '',
        nisn: '',
        nomor_ijazah: '',
        nomor_skhun: '',
        nomor_un: '',
        nik: '',
        tempat_lahir: '',
        tanggal_lahir: '',
        agama: '',
        berkebutuhan_khusus: {
          status: 'tidak',
          nama: ''
        },
        alamat: '',
        rt: '',
        rw: '',
        kelurahan_desa: '',
        kecamatan: '',
        kabupaten_kota: '',
        provinsi: '',
        transportasi_sekolah: {
          nama: '',
          lainnya: ''
        },
        jenis_tinggal: {
          nama: '',
          lainnya: ''
        },
        telepon: '',
        hp: '',
        email: '',
        penerima_kps: {
          status: false,
          nama: ''
        },
        no_kps: '',
        no_kip: '',
        no_kks: '',
        cita_cita: {
          nama: '',
          lainnya: ''
        }
      },
      orangtua_wali : {
        ayah: {
          nama: '',
          tahun_lahir: '',
          almarhum: false,
          alamat: '',
          hp: '',
          berkebutuhan_khusus: {
            status: false,
            nama: ''
          },
          pekerjaan: {
            nama: '',
            lainnya: ''
          },
          pendidikan: '',
          penghasilan: {
            nama: '',
            lainnya: ''
          }
        },
        ibu: {
          nama: '',
          tahun_lahir: '',
          almarhum: false,
          alamat: '',
          hp: '',
          berkebutuhan_khusus: {
            status: false,
            nama: ''
          },
          pekerjaan: {
            nama: '',
            lainnya: ''
          },
          pendidikan: '',
          penghasilan: {
            nama: '',
            lainnya: ''
          }
        },
        wali: {
          nama: '',
          tahun_lahir: '',
          alamat: '',
          hp: '',
          berkebutuhan_khusus: {
            status: false,
            nama: ''
          },
          pekerjaan: {
            nama: '',
            lainnya: ''
          },
          pendidikan: '',
          penghasilan: {
            nama: '',
            lainnya: ''
          }
        }
      },
      periodik: {
        tinggi: '',
        berat: '',
        golongan_darah: '',
        file: '',
        jarak_sekolah: {
          lebih: false,
          nama: ''
        },
        waktu_tempuh: {
          lebih: false,
          nama: ''
        },
        saudara_kandung: '',
        lingkar_kepala: 0
      },
      prestasi_beasiswa: {
        prestasi: [
          {
            jenis: '',
            tingkat: '',
            nama: '',
            tahun: '',
            penyelenggara: ''
          }
        ],
        beasiswa: [
          {
            jenis: '',
            penyelenggara: '',
            tahun: {
              mulai: '',
              selesai: ''
            }
          }
        ]
      },
      lainnya: {
        unit: '',
        angkatan: '',
        jenis_pendaftaran: '',
        jalur_masuk: '',
        program: '',
        tanggal: '',
        foto: ''
      },
      jenis_kelamin: [
        {id: 1, nama: 'Laki-laki'},
        {id: 2, nama: 'Perempuan'}
      ],
      agama: [
        {id: 1, nama: 'Islam'},
        {id: 2, nama: 'Kristen'},
        {id: 3, nama: 'Katolik'},
        {id: 4, nama: 'Hindu'},
        {id: 5, nama: 'Buddha'},
        {id: 6, nama: 'Konghucu'}
      ],
      jenis_tinggal: [
        {id: 1, nama: 'Bersama Orang Tua'},
        {id: 2, nama: 'Bersama Wali'},
        {id: 3, nama: 'Kost'}
      ],
      transportasi_sekolah: [
        {id: 1, nama: 'Jalan Kaki'},
        {id: 2, nama: 'Sepeda'},
        {id: 3, nama: 'Motor'},
        {id: 4, nama: 'Mobil Pribadi'},
        {id: 5, nama: 'Antar Jemput Sekolah'},
        {id: 6, nama: 'Angkutan Umum'},
        {id: 7, nama: 'Lainnya'}
      ],
      pekerjaan: [
        {id: 1, nama: 'PNS'},
        {id: 2, nama: 'TNI/POLRI'},
        {id: 3, nama: 'GURU/DOSEN/WIDIASWARA'},
        {id: 4, nama: 'DOKTER'},
        {id: 5, nama: 'POLITIKUS'},
        {id: 6, nama: 'PEGAWAI SWASTA'},
        {id: 7, nama: 'PEDAGANG/WIRASWASTA'},
        {id: 8, nama: 'PETANI/PETERNAK'},
        {id: 9, nama: 'SENIMAN/SEJENIS'},
        {id: 10, nama: 'BURUH'},
        {id: 11, nama: 'TIDAK BEKERJA'},
        {id: 12, nama: 'BUMN'},
        {id: 13, nama: 'LAINNYA (Sebutkan)'}
      ],
      pendidikan: [
        {id: 1, nama: 'SD/MI'},
        {id: 2, nama: 'SMP/MTS'},
        {id: 3, nama: 'SMA/MA/SMK'},
        {id: 4, nama: 'DIPLOMA 1'},
        {id: 5, nama: 'DIPLOMA 2'},
        {id: 6, nama: 'DIPLOMA 3'},
        {id: 7, nama: 'S.1 (SARJANA)'},
        {id: 8, nama: 'S.2 (MAGISTER)'},
        {id: 9, nama: 'S.3 (DOKTOR)'}
      ],
      penghasilan: [
        {id: 1, nama: '< Rp. 500.000'},
        {id: 2, nama: 'Rp. 500.000 - Rp. 1.000.000'},
        {id: 3, nama: 'Rp. 1.000.000 - Rp. 3.000.000'},
        {id: 4, nama: 'Rp. 3.000.000 - Rp. 5.000.000'},
        {id: 5, nama: '> Rp. 5.000.000'},
        {id: 6, nama: 'Lainnya'}
      ],
      golongan_darah: [
        {id: 1, nama: 'A'},
        {id: 2, nama: 'AB'},
        {id: 3, nama: 'O'},
        {id: 4, nama: 'B'}
      ],
      jenis_pendaftaran: [
        {id: 1, nama: 'Siswa Baru'},
        {id: 2, nama: 'Mutasi'}
      ],
      jalur_masuk: [],
      program: [],
      provinsi: [],
      kabupaten_kota: [],
      kecamatan: [],
      kelurahan_desa: []
    }
  },
  methods: {
    fromIsoStringToLocalDate (s) {
      const ds = s.split(/\D/).map((s) => Number(s))
      ds[1]-- // adjust month
      return new Date(...ds)
    },
    toLocalDate (d) {
      return typeof d === 'string' ? this.fromIsoStringToLocalDate(d) : new Date(d)
    },
    formIdentitasSubmitted () {
      return new Promise((resolve, reject) => {
        siswa.editSiswa().then(res => {
          console.log(res)
          resolve(true)
        }).catch(err => {
          console.log(err)
          reject('error')
        })
      })
    },
    formParentSubmitted () {
      console.log('Form 2')
      return new Promise((resolve) => {
        resolve(true)
      })
    },
    formPeriodikSubmitted () {
      console.log('Form 3')
      return new Promise((resolve) => {
        resolve(true)
      })
    },
    formPrestationSubmitted () {
      console.log('Form 4')
      return new Promise((resolve) => {
        resolve(true)
      })
    },
    formSubmitted () {
      const data = {
        identitas: this.identitas,
        orangtua: this.orangtua_wali,
        periodik: this.periodik,
        prestasi: this.prestasi_beasiswa,
        lain: this.lainnya
      }

      siswa.editSiswa(data).then(res => {
        console.log(res)
      }).catch(err => console.log(err))

      console.log('Form 2')

    },
    handleAddBeasiswa () {
      this.prestasi_beasiswa.beasiswa.push({
        jenis: '',
        penyelenggara: '',
        tahun: {
          mulai: '',
          selesai: ''
        }
      })
    },
    handleAddPrestasi () {
      this.prestasi_beasiswa.prestasi.push({
        jenis: '',
        tingkat: '',
        nama: '',
        tahun: '',
        penyelenggara: ''
      })
    },
    getDistricts () {
      const id = this.identitas.provinsi

      this.kabupaten_kota = []
      this.kecamatan = []
      this.kelurahan_desa = []

      this.identitas.kabupaten_kota = ''
      this.identitas.kecamatan = ''
      this.identitas.kelurahan_desa = ''

      if (id) {
        area.getDistrict(id).then(res => {
          this.kabupaten_kota = res.data
        }).catch(err => console.log(err))
      }
    },
    getSubDistricts () {
      const id = this.identitas.kabupaten_kota

      if (id) {
        area.getSubDistrict(id).then(res => {
          this.kecamatan = res.data
        }).catch(err => console.log(err))
      }
    },
    getVillages () {
      const id = this.identitas.kecamatan 

      if (id) {
        area.getVillage(id).then(res => {
          this.kelurahan_desa = res.data
        }).catch(err => console.log(err))
      }
    }
  },
  components: {
    FormWizard,
    TabContent,
    Datepicker
  }
}
</script>