<template>
  <div id="tugas">
    <div class="vx-row mb-5 items-end">
      <div class="vx-col w-full">
        <vs-input icon-pack="feather" icon="icon-search" placeholder="Cari tugas..." v-model="search" class="w-full is-label-placeholder" @input="searchTugas()"/>
      </div>
<!--      <div class="vx-col w-1/4">-->
<!--        <vs-select v-model="category" class="w-full" label="">-->
<!--          <vs-select-item :key="index" :value="item.id" :text="item.nama_mapel" v-for="(item,index) in categoryOptions" class="w-full" @click="findTugas(item.id)"/>-->
<!--        </vs-select>-->
<!--      </div>-->
    </div>
    <div class="flex justify-end w-full" v-if="searchStatus">
        <p class="p-0 bg-success rounded text-white px-2 py-1"><b>{{ searchFound }}</b> Tugas Ditemukan</p>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full flex justify-center items-center mt-10" v-if="!tugas.length">
        <h3>Tidak ada data tugas pada pelajaran ini...</h3>
      </div>
      <div class="vx-col w-full sm:w-full md:w-full lg:w-1/3 xl:w-1/3 mb-base cursor-pointer"
           v-for="(tugas, index) in tugas"
           :key="index"
           @click="getDetailTugas(index)">
        <vx-card>
          <div class="flex">
            <div class="flex items-start flex-grow">
              <feather-icon icon="BookOpenIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
              <div class="mx-4 flex-grow">
                <span class="font-medium block notification-title text-primary">{{ tugas.nama_tugas }}</span>
                <small v-if="tugas.mapel">{{ tugas.mapel.nama_mapel }}</small>
              </div>
            </div>
          </div>
          <vs-divider></vs-divider>
          <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
              <feather-icon icon="CalendarIcon" class="w-4 h-4"></feather-icon>
              <vx-tooltip text="Tanggal Mulai dan Akhir Tugas">
                <small>{{ tugas.jam_mulai.substr(0, 10) }}</small> -
                <small>{{ tugas.jam_selesai.substr(0, 10) }}</small>
              </vx-tooltip>
            </div>
            <div>
              <vs-chip :color="tugas.file_tugas ? 'success' : 'danger'" >{{ tugas.file_tugas ? 1 : 0 }} File</vs-chip>
            </div>
          </div>
        </vx-card>
      </div>
    </div>

    <vs-popup title="Detail Tugas" :active.sync="popupTugas" class="h-full">
      <div class="flex items-start flex-grow justify-between">
        <div class="mx-4">
          <h3 class="text-primary">{{ detailTugas.nama_tugas }}</h3>
          <h6>{{ detailTugas.mapel }}</h6>
        </div>
        <vs-chip :color="isFinish ? 'success' : 'danger'" class="mx-4">{{isFinish ? 'Selesai' : 'Belum Selesai'}}</vs-chip>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full">
          <vs-collapse>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="HelpCircleIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Deskripsi</span>
                  </div>
                </div>
              </div>
              {{ detailTugas.deskripsi }}
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="UserIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Guru</span>
                  </div>
                </div>
              </div>
              <div class="vx-row">
                <div class="vx-col w-1/2 mb-2">
                  <h6 class="font-semibold">Nama :</h6>
                  <p>{{ detailTugas.guru.nama }}</p>
                </div>
                <div class="vx-col w-1/2 mb-2">
                  <h6 class="font-semibold">Email :</h6>
                  <p>{{ detailTugas.guru.email }}</p>
                </div>
                <div class="vx-col w-1/2 my-1">
                  <h6 class="font-semibold">No. Telp :</h6>
                  <p>{{ detailTugas.guru.telp }}</p>
                </div>
                <div class="vx-col w-1/2 my-1">
                  <h6 class="font-semibold">Alamat :</h6>
                  <p>{{ detailTugas.guru.alamat }}</p>
                </div>
              </div>
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                <div class="flex justify-between">
                  <div class="flex items-center">
                    <feather-icon icon="FileIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                    <div class="mx-4">
                      <span class="font-medium text-lg">File</span>
                    </div>
                  </div>
                  <div class="flex items-center">
                    <vs-chip color="warning" class="mx-4">{{ detailTugas.file ? 1 : 0 }}</vs-chip>
                  </div>
                </div>
              </div>
              <div>
                <div v-if="detailTugas.file">
                  <vs-button icon-pack="feather" icon="icon-download" @click="downloadTugas(detailTugas.file.file)">File 1</vs-button>
                </div>
                <div v-else>
                  <p>Tidak ada <b class="text-danger">File Tugas</b></p>
                </div>
              </div>
            </vs-collapse-item>
            <vs-collapse-item v-if="!currentNilai">
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="UploadIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Upload Tugas</span>
                  </div>
                </div>
              </div>
              <vs-alert active="true" class="mt-5" icon-pack="feather" icon="icon-warning">
                di mohon untuk men-upload file tugas terlebih dahulu sebelum mengirimkan tugas.
              </vs-alert>
              <div class="vx-col w-100">
                <label for="files" class="mr-3">Pilih File Tugas :</label>
                <input id="files" ref="files" type="file" name="files" @change="handleFiles">
              </div>
            </vs-collapse-item>
            <vs-collapse-item v-if="currentNilai">
              <div slot="header">
                <div class="flex items-center">
                  <feather-icon icon="CheckIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
                  <div class="mx-4">
                    <span class="font-medium text-lg">Nilai Tugas</span>
                  </div>
                </div>
              </div>
              <div class="vx-col w-100">
                Nilai tugas anda adalah: <strong>{{currentNilai}}</strong>
              </div>
            </vs-collapse-item>
          </vs-collapse>
          <div class="flex justify-between mt-3">
            <div class="px-3">
              <p class="font-semibold">
                Waktu Mulai:
              </p>
              <h6>{{ detailTugas.jam.mulai }}</h6>
            </div>
            <div class="px-3">
              <p class="font-semibold">
                Waktu Selesai:
              </p>
              <h6>{{ detailTugas.jam.selesai }}</h6>
            </div>
            <vs-button icon-pack="feather" icon="icon-upload" color="success" @click="sendTugas(detailTugas.id)" v-if="!currentNilai">Kirim Tugas</vs-button>
          </div>
        </div>
      </div>
    </vs-popup>
  </div>
</template>
<script>
import CardMateri from '@/views/_smpak/components/card/CardMateri'
import tugas from '@/http/requests/tugas'
import nilai from '@/http/requests/nilai'

export default {
  created () {
    this.$vs.loading()
    tugas.getTugas(this.$route.params.id.toString()).then(response => {
      const newTugas = response.data.map(item => {
        const temp = Object.assign({}, item)
        temp.nama_tugas = item.nama_tugas.toLowerCase().replace(/\b./g, function (a) { return a.toUpperCase() })
        return temp
      })
      this.tugas = newTugas
      this.tugasFirst = newTugas
      this.$vs.loading.close()
    }).catch(() => {
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Data tidak ditemukan',
        text: 'Data Tugas tidak ditemukan',
        color: 'danger',
        position: 'top-right'
      })
    })
  },
  computed: {
    apiFile () {
      return this.$store.state.server.server.domain_storage
    }
  },
  components: {
    CardMateri
  },
  data () {
    return {
      tugasFile: '',
      userData: JSON.parse(sessionStorage.getItem('user')),
      popupTugas: false,
      search: '',
      searchStatus: false,
      searchFound: '',
      category: '',
      categoryOptions: [],
      tugas: [],
      tugasFirst: [],
      isFinish: false,
      detailTugas: {
        id: 0,
        nama_tugas: '',
        mapel: '',
        deskripsi: '',
        guru: {
          nama: '',
          email: '',
          telp: '',
          alamat: ''
        },
        jam: {
          mulai: '',
          selesai: ''
        },
        file: []
      },
      currentNilai: 0
    }
  },
  methods: {
    searchTugas () {
      const search = this.search
      if (search) {
        const tugas = this.tugas.filter(function (item) {
          return item.nama_tugas.toLowerCase().indexOf(search.toLowerCase()) > -1
        })
        this.tugas = tugas
        this.searchFound = tugas.length
        this.searchStatus = true
      } else {
        this.tugas = this.tugasFirst
        this.searchStatus = false
      }
    },
    getDetailTugas (index) {
      this.isFinish = false
      
      const getTugas = this.tugas[index]
      tugas.getTugasSiswa(getTugas.id).then(response => {
        const isData = response.data.length
        if (isData) {
          this.isFinish = true
        } else {
          this.isFinish = false
        }
      }).catch(() => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Data tidak ditemukan',
          text: 'Data Tugas tidak ditemukan',
          color: 'danger',
          position: 'top-right'
        })
      })

      this.currentNilai = 0
      nilai.getNilai(getTugas.id).then(response => {
        this.currentNilai = response.data[response.data.length - 1].nilai
      }).catch(() => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Data tidak ditemukan',
          text: 'Data Tugas tidak ditemukan',
          color: 'danger',
          position: 'top-right'
        })
      })

      const nama_mapel = getTugas.mapel ? getTugas.mapel.nama_mapel : '-'
      const detailTugas = {
        id: getTugas.id,
        nama_tugas: getTugas.nama_tugas,
        mapel: nama_mapel,
        deskripsi: getTugas.deskripsi,
        guru: {
          nama: getTugas.guru.nama_guru,
          email: getTugas.guru.user_guru.email,
          telp: getTugas.guru.user_guru.no_telp,
          alamat: getTugas.guru.alamat_tinggal
        },
        jam: {
          mulai: getTugas.jam_mulai,
          selesai: getTugas.jam_selesai
        },
        file: getTugas.file_tugas,
        nilai: this.currentNilai
      }

      if (document.getElementById('files')) {
        document.getElementById('files').value = ''
      }
      this.tugasFile = ''
      this.detailTugas = detailTugas
      this.popupTugas = true
    },
    downloadTugas (file) {
      window.open(`${this.apiFile}/${file}`)
    },
    handleFiles () {
      this.tugasFile = this.$refs.files.files
    },
    sendTugas (id) {
      if (this.tugasFile.length > 0) {
        this.$vs.loading()
        tugas.uploadTugas(id).then(response => {
          // Init Form Data
          const data = new FormData()
          data.append('tugas_id', response.id)
          data.append('sekolah_id', this.userData.sekolah.id)
          Object.values(this.tugasFile)
            .forEach(file => {
              data.append('file', file)
            })

          // Send API Tugas File
          tugas.uploadTugasFile(data).then(() => {
            this.$vs.loading.close()
            this.popupTugas = false
            this.$vs.notify({
              title: 'Sukses',
              text: 'Tugas berhasil dikirimkan',
              color: 'success',
              position: 'top-right'
            })
          }).catch(err => {
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Gagal',
              text: err.data.message,
              color: 'danger',
              position: 'top-right'
            })
          })

        }).catch(err => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Gagal',
            text: err.data.message,
            color: 'danger',
            position: 'top-right'
          })
        })
      } else {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'File Tidak Ditemukan',
          text: 'Sebelum mengirim tugas dimohon untuk upload File Tugas',
          color: 'warning',
          position: 'top-right'
        })
      }
    }
  }
}
</script>
