<template>
  <div id="maintugas">
    <div class="vx-row">
      <div class="vx-col w-full">
        <vx-card>
          <div class="flex gap-5">
            <div>
              <h3>1.</h3>
            </div>
            <div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet blanditiis cumque cupiditate dicta dolorem doloremque doloribus dolorum ea, eaque earum facilis laborum magnam minima nesciunt, obcaecati optio, porro quaerat rem sapiente soluta tempora vel voluptas voluptatem voluptates? Atque beatae corporis earum esse laboriosam quam quo recusandae temporibus.?
              </div>
              <div class="mt-5 pr-8" hidden>
                <vs-textarea v-model="answer1" />
              </div>
              <div class="flex flex-col gap-5 mt-5 text-md">
                <vs-radio v-model="answer1" vs-value="primary" class="items-start">
                  <div class="flex gap-2">
                    <h5 strong>A.</h5>
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi deleniti distinctio dolore ducimus, eligendi enim laboriosam laborum, molestias quos veniam veritatis voluptas.
                    </div>
                  </div>
                </vs-radio>
                <vs-radio v-model="answer2" vs-value="primary" class="items-start">
                  <div class="flex gap-2">
                    <h5 strong>B.</h5>
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi deleniti distinctio dolore ducimus, eligendi enim laboriosam laborum, molestias quos veniam veritatis voluptas.
                    </div>
                  </div>
                </vs-radio>
                <vs-radio v-model="answer3" vs-value="primary" class="items-start">
                  <div class="flex gap-2">
                    <h5 strong>C.</h5>
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi deleniti distinctio dolore ducimus, eligendi enim laboriosam laborum, molestias quos veniam veritatis voluptas.
                    </div>
                  </div>
                </vs-radio>
                <vs-radio v-model="answer4" vs-value="primary" class="items-start">
                  <div class="flex gap-2">
                    <h5 strong>D.</h5>
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi deleniti distinctio dolore ducimus, eligendi enim laboriosam laborum, molestias quos veniam veritatis voluptas.
                    </div>
                  </div>
                </vs-radio>
                <vs-radio v-model="answer5" vs-value="primary" class="items-start">
                  <div class="flex gap-2">
                    <h5 strong>E.</h5>
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi deleniti distinctio dolore ducimus, eligendi enim laboriosam laborum, molestias quos veniam veritatis voluptas.
                    </div>
                  </div>
                </vs-radio>
              </div>
            </div>
          </div>
        </vx-card>
        <div class="flex justify-between my-3">
          <div>
            <vs-button>Kembali</vs-button>
          </div>
          <div>
            <vs-button color="warning" class="mx-3">Ragu</vs-button>
            <vs-button>Selanjutnya</vs-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      answer1: '',
      answer2: '',
      answer3: '',
      answer4: '',
      answer5: ''
    }
  }
}
</script>
