<template>
  <div id="materi">
    <div class="vx-row mb-5 items-end">
      <div class="vx-col w-full">
        <vs-input icon-pack="feather" icon="icon-search" placeholder="Cari materi..." v-model="search" class="w-full is-label-placeholder" @keyup="searchTugas()"/>
      </div>
    </div>
    <div class="flex justify-end w-full" v-if="searchStatus">
        <p class="p-0 bg-success rounded text-white px-2 py-1"><b>{{ searchFound }}</b> Tugas Ditemukan</p>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full sm:w-full md:w-full lg:w-1/3 xl:w-1/3 mb-base my-3"
           v-for="(pengajar, index) in pengajars"
           :key="index">
        <vx-card>
          <div class="flex justify-between">
            <div class="flex items-start flex-grow">
              <feather-icon icon="BookOpenIcon" class="p-3 inline-flex rounded-full text-primary" style="background: rgba(var(--vs-primary),.15)"></feather-icon>
              <div class="mx-4">
                <h4 class="font-medium block notification-title text-primary">{{ pengajar.mapel.nama_mapel }}</h4>
                <small>{{ pengajar.guru.nama_guru }}</small>
              </div>
            </div>
          </div>
          <vs-divider></vs-divider>
          <vs-button class="w-full" @click="getTugas(pengajar.mapel.id)">Lihat Tugas</vs-button>
        </vx-card>
      </div>
    </div>
  </div>
</template>
<script>
import CardMateri from '@/views/_smpak/components/card/CardMateri'
import pengajar from '@/http/requests/others/pengajar'

export default {
  created () {
    this.$vs.loading()
    pengajar.getPengajar().then(res => {
      const newPengajar = res.data.map(item => {
        const temp = Object.assign({}, item)
        temp.mapel.nama_mapel = item.mapel.nama_mapel.toLowerCase().replace(/\b./g, function (a) { return a.toUpperCase() })
        return temp
      })
      this.pengajars = newPengajar
      this.pengajarFirst = newPengajar
      this.$vs.loading.close()
    }).catch(() => {
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Data tidak ditemukan',
        text: 'Gagal mendapatkan data Tugas',
        color: 'danger',
        position: 'top-right'
      })
    })
  },
  components: {
    CardMateri
  },
  computed: {
    apiFile () {
      return this.$store.state.server.server.domain_storage
    }
  },
  data () {
    return {
      search: '',
      searchStatus: false,
      searchFound: '',
      category: '',
      categoryOptions: [],
      pengajars: [],
      pengajarFirst: []
    }
  },
  methods: {
    searchTugas () {
      const search = this.search
      if (search) {
        const pengajar = this.pengajars.filter(function (item) {
          return item.mapel.nama_mapel.toLowerCase().indexOf(search.toLowerCase()) > -1
        })
        this.pengajars = pengajar
        this.searchFound = pengajar.length
        this.searchStatus = true
      } else {
        this.pengajars = this.pengajarFirst
        this.searchStatus = false
      }
    },
    getTugas (mapelId) {
      this.$router.push({'name': 'list-tugas', 'params': {'id': mapelId}}).catch(err => console.log(err))
    }
  }
}
</script>
