<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <!-- title -->
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi laborum et ex?</h1>
      <!-- Avatar Username -->
      <div class="flex gap-3 items-center my-6">
        <vs-avatar />
        <div class="flex flex-col">
          <small class="font-bold">Username</small>
          <div class="flex gap-8">
            <small>XII IPA</small>
            <small>Tanggal 21 Agu 2021</small>
          </div>
        </div>
      </div>
      <!-- Image Banner -->
      <div class="flex justify-center px-12">
        <img src="https://placeimg.com/640/480/tech" alt="" class="w-full h-full">
      </div>
      <div class="my-6 px-6 text-justify flex flex-col gap-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam qui saepe debitis ipsum eveniet id. Ullam aut, blanditiis explicabo eius quo alias earum voluptatem?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum repellendus voluptatum pariatur commodi minus tempora deleniti quo, odit temporibus ut culpa, magnam accusantium esse, molestias officia! Tempore natus distinctio accusamus neque eligendi quidem culpa explicabo officia libero. Suscipit saepe tempore voluptatum optio cupiditate esse expedita, animi quibusdam necessitatibus tempora, non rerum sint quos velit, mollitia nobis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, similique! Nostrum vero tempora voluptate officia assumenda quia vitae tempore quaerat voluptatem? Sit necessitatibus dignissimos voluptas illo beatae ad blanditiis harum quasi repudiandae! Ratione unde quae voluptates magnam pariatur. A quaerat obcaecati nesciunt totam odit nisi repudiandae sunt rerum vero, voluptates, earum minus animi modi in alias hic iusto aut quos quas porro beatae adipisci. Impedit itaque deserunt, unde beatae ducimus provident repellat? Quidem unde dolore magnam in?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, quod reprehenderit fugit eum sapiente laboriosam delectus esse, excepturi eaque dolores, unde provident minima. Sunt nulla iure, id possimus fugiat alias accusantium non ipsam, autem voluptatum consectetur enim similique ducimus rerum libero consequuntur voluptate dignissimos facere quos atque adipisci voluptatibus magni et suscipit. Quasi repudiandae ipsa similique aliquam facere cum dolorem commodi pariatur perspiciatis. In omnis inventore consequuntur minus recusandae ratione nostrum veniam quod, quo non? Iusto dolorum quam dignissimos aperiam, quidem sequi dolorem enim delectus repellat at optio similique officia eos vel hic doloremque non neque placeat ea rerum veritatis iste. Qui quia quo nostrum id hic beatae nulla debitis repellat, at quas in blanditiis, reiciendis tenetur vel quasi quibusdam incidunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nemo, iusto nobis dolores eligendi quos beatae, explicabo reiciendis consequuntur pariatur, tenetur ex ipsam! Aspernatur pariatur sequi rem nobis distinctio voluptatibus dolorem atque repellat quam dignissimos, eos sint quo quidem itaque accusamus cupiditate aliquam sunt, minus laboriosam nam, officiis consectetur doloremque. Deleniti nam animi fugit impedit consequatur suscipit assumenda, odit adipisci iste illo rerum dolore voluptate perspiciatis harum tempora repellat quod, ab labore eveniet non est, tempore ad sapiente. Optio aliquam aliquid deleniti culpa omnis eum laborum reiciendis obcaecati doloremque neque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis enim laborum eius nihil harum commodi. Possimus nisi quidem pariatur veritatis nesciunt consequatur nostrum, molestiae ut enim aliquid, sit modi voluptatum officia dolorem.</p>
      </div>
    </div>
  </div>
</template>