<template>
  <div id="mading">
    <div class="vx-row">
      <div
        class="vx-col w-full sm:w-full md:w-full lg:w-1/3 xl:w-1/3"
        v-for="(item, index) in madingBoxInfo"
        :key="index"
      >
        <statistics-card-line
          hideChart
          class="mb-base"
          icon-right
          icon="BookOpenIcon"
          :statistic="item.value"
          :statisticTitle="item.title"
        />
      </div>
      <vs-divider />
      <div class="vx-col w-full flex justify-between items-center">
        <div>
          <vs-button icon-pack="feather" icon="icon-plus" color="success" @click="$router.push('/mading/form/tambah').catch(() => {})">Tambah Mading</vs-button>
        </div>
        <div>
          <vs-input icon-pack="feather" icon="icon-search" placeholder="Cari..." class="is-label-placeholder m-0" />
        </div>
      </div>
      <div class="vx-col w-full my-5">
        <vx-card class="mading-card cursor-pointer hover:bg-gray-300">
          <div class="flex">
            <div class="relative">
              <div class="relative pr-16 pt-3 pb-12 pl-4" @click="$router.push('/mading/1')">
                <div class="flex gap-8">
                  <div class="flex flex-col items-center">
                    <vs-avatar />
                    <small class="font-bold">Username</small>
                  </div>
                  <div class="flex-1 py-2">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus natus eligendi beatae cumque incidunt, optio ex mollitia sunt eveniet praesentium doloremque dicta odit atque deleniti dolore modi magni fugiat suscipit dolores esse.</p>
                    <div class="flex gap-2 my-3 mx-5">
                      <small class="text-primary">#tag1</small>
                      <small class="text-primary">#tag2</small>
                    </div>
                  </div>
                </div>
                <small class="absolute top-0 right-0 py-2 px-4">16 Aug</small>
              </div>
              <div class="flex justify-between items-center px-3 py-2 bg-gray absolute bottom-0 w-full">
                <div class="flex items-center gap-3">
                  <div class="flex items-center gap-1">
                    <feather-icon icon="EyeIcon" class="w-4 h-4"></feather-icon>
                    <small>49 Views</small>
                  </div>
                  <small class="font-bold uppercase">published</small>
                </div>
                <div class="flex gap-3">
                  <vs-button size="small" color="primary" @click="$router.push('/mading/form/edit')">Edit</vs-button>
                  <vs-button size="small" color="danger" @click="confirmDelete">Hapus</vs-button>
                </div>
              </div> 
            </div>
            <div>
              <img src="https://placeimg.com/400/400/tech" alt="" class="w-full h-full">
            </div>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import StatisticsCardLine from '@/views/_smpak/components/card/CardStatistic'

export default {
  components: {
    StatisticsCardLine
  },
  data () {
    return {
      madingBoxInfo: []
    }
  },
  methods: {
    confirmDelete () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Hapus Mading',
        text: 'Apakah anda yakin akan menghapus data Mading ini?',
        accept: this.deleteMading
      })
    },
    deleteMading () {
      this.$vs.notify({
        title: 'Berhasil',
        text: 'Data Mading berhasil dihapus',
        color: 'success',
        position: 'top-right'
      })
    }
  },
  created () {
    this.madingBoxInfo = [
      { title: 'Mading', value: 0 },
      { title: 'Menunggu Persetujuan', value: 0 },
      { title: 'Tidak Disetujui', value: 0 }
    ]
  }
}
</script>

<style lang="scss">
  .mading-card {
    .vx-card__body {
      padding: 0 !important;
    }
  }

  .bg-gray {
    background-color: #f2efef;
  }
</style>
