<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <vx-card>
        <vs-input class="w-full" placeholder="Ex: Mading bagus..." label="Judul" v-model="input9" />
        <quill-editor v-model="content" class="my-4"></quill-editor>
        <div>
          <label for="">Tag</label>
          <v-select multiple :closeOnSelect="false" label="Tag" v-model="selected" :options="options" :dir="$vs.rtl ? 'rtl' : 'ltr'" />
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'
import vSelect from 'vue-select'

export default {
  data () {
    return {
      content: `
<h2><span class="ql-font-serif">Quill Rich Text Editor</span></h2><br />
<p>Quill is a free, <a href="https://github.com/quilljs/quill/">open source</a> WYSIWYG editor built for the modern web. With its <a href="http://quilljs.com/docs/modules/">modular architecture</a> and expressive <a href="http://quilljs.com/docs/api/">API</a>, it is completely customizable to fit any need.</p><br />
<iframe class="ql-video ql-align-center" src="https://www.youtube.com/embed/QHH3iSeDBLo?showinfo=0" width="560" height="238"></iframe>
            `,
      selected: ['foo', 'bar'],
      options: ['foo', 'bar', 'baz']
    }
  },
  components: {
    quillEditor,
    vSelect
  }
}

</script>