<template>
  <div class="flex w-full bg-img-login vx-row no-gutter justify-center" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-1/3">
      <div class="w-full vx-row justify-center my-10">
        <div class="logo-lms">
          <img :src="getServer.logo" id="logo" v-if="getServer.logo">
          <img src="@/assets/images/logo/default.png" id="logo" v-else>
          <!-- <img src="@/assets/images/logo/smp.png" id="smp" >
          <img src="@/assets/images/logo/lms.png" id="lms" alt=""> -->
        </div>
      </div>
      <vx-card class="py-8">
        <div slot="no-body">
          <div class="vx-row px-10">
            <div class="vx-col w-full">
              <vs-input
                v-validate="'required'"
                v-model="username"
                data-vv-validate-on="blur"
                name="username"
                icon-no-border
                icon="icon icon-user"
                icon-pack="feather"
                placeholder="Email / No. Telepon"
                class="w-full input-rounded-full my-3"
                @keyup.enter="login"/>

              <Alert :alertText="errors.first('username')" v-show="errors.has('username')"/>
              <vs-input
                v-validate="'required'"
                v-model="password"
                type="password"
                data-vv-validate-on="blur"
                name="password"
                icon-no-border
                icon="icon icon-lock"
                icon-pack="feather"
                placeholder="Password"
                class="w-full input-rounded-full my-3"
                @keyup.enter="login"/>
              <Alert :alertText="errors.first('password')" v-show="errors.has('password')"/>
              <hr class="text-white border-white my-3"/>
              <vs-button color="warning" type="filled" @click.prevent="login" class="w-full rounded-full my-3">Mulai Belajar</vs-button>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import Alert from '@/views/_smpak/components/alert/Alert.vue'

export default {
  computed: {
    getServer () {
      return this.$store.state.server.server
    }
  },
  created () {
    this.$store.commit('UPDATE_MAIN_LAYOUT_TYPE', 'horizontal')
    this.$vs.loading.close()
  },
  components: {
    Alert
  },
  data () {
    return {
      username: '',
      password: '',
      checkbox_remember_me: false
    }
  },
  methods: {
    checkLogin () {
      if (this.$store.state.auth.isUserLoggedIn()) {

        // Close animation if passed as payload
        // this.$vs.loading.close()

        this.$vs.notify({
          title: 'Login Attempt',
          text: 'You are already logged in!',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning'
        })

        return false
      }
      return true
    },
    logout () {
      sessionStorage.clear()
      localStorage.clear()
      // This is just for demo Purpose. If user clicks on logout -> redirect
      this.$store.commit('user/SET_DATA_USER', {})
      this.$store.dispatch('ujian/setDataPilihanGanda', [])
      this.$store.dispatch('ujian/setDataEssay', [])
      this.$store.dispatch('ujian/setDataUjian', [])
      this.$store.dispatch('ujian/setJawabanPilihanGanda', [])
      this.$store.dispatch('ujian/setNowUjian', {})
    },
    login () {
      if (!this.checkLogin()) return

      // Loading
      this.$vs.loading()

      const payload = {
        checkbox_remember_me: this.checkbox_remember_me,
        userDetails: {
          username: this.username,
          password: this.password
        }
      }

      this.$store.dispatch('auth/loginSmpak', payload)
        .then(res => {
          const status = res.data.profile[0].user_siswa.status
          this.$vs.loading.close()

          if (status === 3) {
            this.$router.push('/data-pendaftaran')
          } else {
            this.$router.push('/dashboard')
          }
        })
        .catch(error => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Gagal Mengirim Data',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })

          // delete localStorage
          this.logout()
          return false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .logo-lms{
    width: 17em;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
  }
  #lms {
    margin: 10px;
    width: 18%;
      height: auto;
      filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  }

  #smp {
    margin: 10px;
    width: 40%;
      height: auto;
      filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  }
</style>

