<template>
  <div class="h-screen flex w-full bg-img-login vx-row no-gutter justify-center" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card class="bg-transparent shadow-none py-8">
        <div slot="no-body">
          <div class="vx-row no-gutter justify-center">
            <div class="vx-col sm:w-full md:w-full lg:w-1/2">
              <div class="w-full vx-row justify-center mb-10">
                <div class="logo-lms">
                  <img src="@/assets/images/logo/smp.png" id="smp" >
                  <img src="@/assets/images/logo/lms.png" id="lms" alt="">
                </div>
              </div>
              <vs-input
                v-validate="'required|min:5'"
                v-model="username"
                data-vv-validate-on="blur"
                name="username"
                icon-no-border
                icon="icon icon-user"
                icon-pack="feather"
                placeholder="Username"
                class="w-full input-rounded-full my-3"
                @enter="login"/>
              <vs-input
                v-validate="'required|min:8'"
                v-model="password"
                type="password"
                data-vv-validate-on="blur"
                name="password"
                icon-no-border
                icon="icon icon-lock"
                icon-pack="feather"
                placeholder="Password"
                class="w-full input-rounded-full my-3"
                @enter="login"/>
              <hr class="text-white border-white my-3"/>
              <vs-button color="warning" type="filled" @click.prevent="login" class="w-full rounded-full my-3">Mulai Belajar</vs-button>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      username: 'siswasma@learning.com',
      password: 'admin123',
      checkbox_remember_me: false
    }
  },
  methods: {
    checkLogin () {
      if (this.$store.state.auth.isUserLoggedIn()) {

        // Close animation if passed as payload
        // this.$vs.loading.close()

        this.$vs.notify({
          title: 'Login Attempt',
          text: 'You are already logged in!',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning'
        })

        return false
      }
      return true
    },
    login () {
      if (!this.checkLogin()) return

      // Loading
      this.$vs.loading()

      const payload = {
        checkbox_remember_me: this.checkbox_remember_me,
        userDetails: {
          username: this.username,
          password: this.password
        }
      }

      this.$store.dispatch('auth/loginSmpak', payload)
        .then(() => {
          this.$vs.loading.close()
          this.$router.push('/dashboard')
        })
        .catch(error => {
          console.log()
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Gagal Mengirim Data',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .logo-lms{
    width: 17em;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #lms {
    margin: 10px;
    width: 18%;
      height: auto;
      filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  }

  #smp {
    margin: 10px;
    width: 40%;
      height: auto;
      filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  }
</style>

